// .dialog-container {

//     width: 400px;
//     display: flex;
//     flex-wrap: nowrap;
//     flex-direction: column;
// }
.mat-dialog-actions {
  margin-bottom: 5px;
  margin-right: 20px;
}

.mat-dialog-content p {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
