<form [formGroup]="group">   
    <div class="row phases-content">
        <div class="row">
            <span class="col-sm-12 col-md-2 txt-primary title-phase">{{phaseTitle}}</span>
        </div>

        <div class="row group-content">
            <div class="col-sm-12 col-md-4">
                <mat-form-field class="full-width dedication">
                    <mat-label>Dedicación (Tiempo semanal en horas)</mat-label>
                    <input matInput [min]="0" [max]="40" type="number" placeholder="Dedicación" formControlName="dedication" required>
                    <mat-error *ngIf="this.group.get('dedication')?.invalid">
                        {{ getMessageError('dedication' ,'dedicación') }}
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col-sm-12 col-md-8">
                <mat-form-field class="full-width">
                    <mat-label>Rol / Alcance</mat-label>
                    <textarea matInput formControlName="description" required></textarea>
                    <mat-error *ngIf="this.group.get('description')?.invalid">
                        {{ getMessageError('description' ,'rol / alcance') }}
                    </mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="header-buttons">
            <button class="buttons-options"
                (click)="flagMode == 'asignar' ? add() : edit()"
                mat-button color="primary"
                [disabled]="group.invalid">
                {{( dedication == "" || description == "") && flagMode == "create" ? 'Asignar' : 'Editar'}}
            </button>
        </div>
    </div>
</form>