.header-row {
    display: flex; 
    align-items: center; 
    justify-content: space-between;
}

.icons-cards {
    margin-left: 16px;
    width: 40px;
    height: 40px;
    font-size: 40px;
}

.h3-subtitle {
    padding-left: 16px;
    margin-bottom: 0px;
}

.line-text {
    padding-left: 16px;
    padding-bottom: 10px;
}

.line-text-font {
    padding-left: 16px;
    padding-bottom: 10px;
    font-weight: 300;
}

.card-content {
    margin-bottom: 30px;
}

.buttons-options {
   width: auto;
   text-align: center;
   border-radius: 5px;
}

.mat-expansion-panel-header {
    padding: 15px;
}

.title-expansion {
    margin: 0px;
    font-weight: 500;
}

.circle{
    border-radius: 20px;
    height: 20px;
    width: 20px;
}

.indicator-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 15px;
}