<div *ngIf="actions.read">
    <div class="row" style="margin-bottom: 20px;">
        <div class="header-row col-sm-12 col-md-12" style="flex-wrap: wrap;">
            <h1 class="col-sm-12 col-md-6 txt-accent" style="font-weight: 500; font-size: xx-large;">{{project.title}}</h1>
            <div *ngIf="((project.pmo == null ? null : project.pmo!.id == userID) || (project.pmo_assitant == null ? null: project.pmo_assitant!.id == userID) || (project.functional_lead == null ? null : project.functional_lead.id == userID) || profileID == 2)" class="header-row col-sm-12 col-md-6" style="display: flex; flex-wrap: wrap; justify-content: flex-end;">
                <button *ngIf="actions.update" class="buttons-options" mat-menu-item (click)="onProjectEdit()">
                    <mat-icon>editchart</mat-icon>
                    <span>Editar Proyecto</span>
                </button>

                <button *ngIf="actions.create" class="buttons-options" mat-menu-item [matMenuTriggerFor]="menuOption">
                    <mat-icon style="font-size: 28px;">menu_open</mat-icon>
                    <span>Menú de Opciones</span>
                </button>

                <mat-menu #menuOption="matMenu" xPosition="before">
                    <button *ngIf="actions.create" mat-menu-item (click)="onDesviation()">
                        <mat-icon>alt_route</mat-icon>
                        <span>Causales de desviación</span>
                    </button>
                    
                    <button *ngIf="actions.create" mat-menu-item (click)="onWeek()">
                        <mat-icon>insert_invitation</mat-icon>
                        <span>Seguimiento Semanal</span>
                    </button>
                    
                    <button *ngIf="actions.create || actions.update" mat-menu-item (click)="onValorem(project.id)">
                        <mat-icon>addchart</mat-icon>
                        <span>Reporte Valorem</span>
                    </button>

                    <button *ngIf="actions.create" mat-menu-item (click)="onInterrelations(project.id)">
                        <mat-icon>stream</mat-icon>
                        <span>Interrelaciones</span>
                    </button>

                    <button *ngIf="actions.create" mat-menu-item (click)="onOperationResources(project.id)">
                        <mat-icon>manage_accounts</mat-icon>
                        <span>Recursos Críticos de Operación</span>
                    </button>

                </mat-menu>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12 col-md-4">
            <mat-card class="card-content mat-elevation-z4">
                <mat-icon class="icons-cards txt-primary">bubble_chart</mat-icon>
                <mat-card-header>
                    <mat-card-title class="txt-accent">Objetivos</mat-card-title>  
                </mat-card-header>
                
                
                <mat-accordion>
                    <mat-expansion-panel class="mat-elevation-z0" style="padding-left: -15px;"
                                        (opened)="panelOpenState = true"
                                        (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                        <mat-panel-title>
                            <h3 class="txt-primary title-expansion">Beneficios</h3>
                        </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div *ngIf="benefitsByProject.length != 0">
                            <div *ngFor="let benefitsProject of benefitsByProject; index as i">
                                <div mat-line class="line-text" style="padding-left: 0px;"> {{i+1}}. {{benefitsByProject[i].description}} </div>
                            </div>
                        </div>
                        <div *ngIf="benefitsByProject.length == 0" mat-line class="line-text-font"> {{labelAssignment}} </div>
                    </mat-expansion-panel>

                    <mat-expansion-panel class="mat-elevation-z0"
                                        (opened)="panelOpenState = true"
                                        (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                        <mat-panel-title>
                            <h3 class="txt-primary title-expansion">Hitos</h3>
                        </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div *ngIf="highlightsByProject.length != 0">
                            <div *ngFor="let highlightsProject of highlightsByProject; index as i">
                                <div mat-line class="line-text" style="padding-left: 0px;"> {{i+1}}. {{highlightsByProject[i].description}} </div>
                            </div>
                        </div>
                        <div *ngIf="highlightsByProject.length == 0" mat-line class="line-text-font"> {{labelAssignment}} </div>
                    </mat-expansion-panel>

                    <mat-expansion-panel class="mat-elevation-z0"
                                        (opened)="panelOpenState = true"
                                        (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                        <mat-panel-title>
                            <h3 class="txt-primary title-expansion">KPI's</h3>
                        </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div *ngIf="kpisByProject.length != 0">
                            <div *ngFor="let kpisProject of kpisByProject; index as i">
                                <div mat-line class="line-text" style="padding-left: 0px;"> {{i+1}}. {{kpisByProject[i].description}} </div>
                            </div>
                        </div>
                        <div *ngIf="kpisByProject.length == 0" mat-line class="line-text-font"> {{labelAssignment}} </div>
                    </mat-expansion-panel>

                    <mat-expansion-panel class="mat-elevation-z0"
                                        (opened)="panelOpenState = true"
                                        (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                        <mat-panel-title>
                            <h3 class="txt-primary title-expansion">Riesgos</h3>
                        </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div *ngIf="risksByProject.length != 0">
                            <div *ngFor="let risksProject of risksByProject; index as i">
                                <div mat-line class="line-text" style="padding-left: 0px;"> {{i+1}}. {{risksByProject[i].description}} </div>
                            </div>
                        </div>
                        <div *ngIf="risksByProject.length == 0" mat-line class="line-text-font"> {{labelAssignment}} </div>
                    </mat-expansion-panel>

                </mat-accordion>
            </mat-card>

            <mat-card class="card-content mat-elevation-z4">
                <mat-icon class="icons-cards txt-primary">description</mat-icon>
                <mat-card-header>
                    <mat-card-title class="txt-accent">Aspectos Generales</mat-card-title>  
                </mat-card-header>
                
                <h3 class="h3-subtitle txt-primary">Número de Proyecto</h3>
                <div mat-line class="line-text"> {{project.id}} </div>
                
                <h3 class="h3-subtitle txt-primary">Vicepresidencia</h3>
                <div mat-line class="line-text"> {{project.area.vice_presidency.title}} </div>
                
                <h3 class="h3-subtitle txt-primary">Área</h3>
                <div mat-line class="line-text"> {{project.area.title}} </div>
                
                <h3 class="h3-subtitle txt-primary">Enfoque Estratégico</h3>
                <div mat-line class="line-text"> {{project.strategic_approach.title}} </div>
                
                <h3 class="h3-subtitle txt-primary">Fecha de Recepción</h3>
                <div mat-line class="line-text"> {{project.reception_date.split("-")[2]}} - {{project.reception_date.split("-")[1]}} - {{project.reception_date.split("-")[0]}} </div>
                
                <h3 class="h3-subtitle txt-primary">Programa</h3>
                <div mat-line *ngIf="project.program != null" class="line-text" > {{project.program.title}} </div>
                <div mat-line *ngIf="project.program == null" class="line-text-font"> {{labelAssignment}} </div>
            </mat-card>

            <mat-card class="card-content mat-elevation-z4">
                <mat-icon class="icons-cards txt-primary">supervisor_account</mat-icon>
                <mat-card-header>
                    <mat-card-title class="txt-accent">Recursos Funcionales de Prueba</mat-card-title>  
                </mat-card-header>
                <div *ngIf="testUsersByProject.length != 0">
                    <div *ngFor="let testUsersProject of testUsersByProject; index as i">
                        <div mat-line class="line-text"> {{i+1}}. {{testUsersByProject[i].person.first_name}} {{testUsersByProject[i].person.last_name}} </div>
                    </div>
                </div>
                <div *ngIf="testUsersByProject.length == 0" mat-line class="line-text-font"> {{labelAssignment}} </div>
            </mat-card>

            <mat-card class="card-content mat-elevation-z4">
                <div class="row">
                    <div class="header-row col-sm-12 col-md-12">
                        <mat-icon class="icons-cards txt-primary col-sm-12 col-md-6">event</mat-icon>
                        <div *ngIf="weeksByProject.length != 0" class="header-row col-sm-12 col-md-6" style="flex-wrap: wrap;">
                            <button [disabled]="weekId == 0" class="buttons-options" mat-menu-item (click)="beforeWeek()">
                                <mat-icon [ngClass]="(weekId == 0)? 'icons-cards':'icons-cards txt-primary'">navigate_before</mat-icon>
                            </button>
                            <button [disabled]="weekId == weeksByProject.length-1" class="buttons-options" mat-menu-item (click)="nextWeek()">
                                <mat-icon [ngClass]="(weekId == weeksByProject.length-1)? 'icons-cards':'icons-cards txt-primary'">navigate_next</mat-icon>
                            </button> 
                        </div>   
                    </div> 
                </div>    
                <mat-card-header>
                    <mat-card-title class="txt-accent">Seguimiento Semanal </mat-card-title>
                </mat-card-header>
                <div class="seg-line-sem-edit">
                    <mat-card-title *ngIf="weeksByProject[weekId] != null" style="font-size: 16px;">Semana {{weeksByProject[weekId].nReg}} - {{weeksByProject[weekId].month}} {{weeksByProject[weekId].year}} </mat-card-title> 
                    <!-- <mat-icon class="txt-primary" style="cursor: pointer;" *ngIf="actions.update  && ((project.pmo == null ? null : project.pmo!.id == userID) || (project.pmo_assitant == null ? null: project.pmo_assitant!.id == userID) || (project.functional_lead == null ? null : project.functional_lead.id == userID) || profileID == 2)" matRipple (click)="onWeeekEdit(weeksByProject[weekId].id)">create</mat-icon> -->
                </div>
                <h3 class="h3-subtitle txt-primary">Fecha Inicio</h3>
                <div *ngIf="weeksByProject[weekId] != null" mat-line class="line-text"> {{weeksByProject[weekId].start_date.split("-")[2]}} - {{weeksByProject[weekId].start_date.split("-")[1]}} - {{weeksByProject[weekId].start_date.split("-")[0]}}</div>
                <div *ngIf="weeksByProject[weekId] == null" mat-line class="line-text-font"> {{labelAssignment}} </div>
                
                <h3 class="h3-subtitle txt-primary">Fecha Final</h3>
                <div *ngIf="weeksByProject[weekId] != null" mat-line class="line-text"> {{weeksByProject[weekId].end_date.split("-")[2]}} - {{weeksByProject[weekId].end_date.split("-")[1]}} - {{weeksByProject[weekId].end_date.split("-")[0]}} </div>
                <div *ngIf="weeksByProject[weekId] == null" mat-line class="line-text-font"> {{labelAssignment}} </div>
                
                <h3 class="h3-subtitle txt-primary">Avance esperado</h3>
                <div *ngIf="weeksByProject[weekId] != null" mat-line class="line-text"> {{weeksByProject[weekId].advance_spected}}% </div>
                <div *ngIf="weeksByProject[weekId] == null" mat-line class="line-text-font"> {{labelAssignment}} </div>
                
                <h3 class="h3-subtitle txt-primary">Avance real</h3>
                <div *ngIf="weeksByProject[weekId] != null" mat-line class="line-text"> {{weeksByProject[weekId].advance_real}}% </div>
                <div *ngIf="weeksByProject[weekId] == null" mat-line class="line-text-font"> {{labelAssignment}} </div>
                
                <h3 class="h3-subtitle txt-primary">Indicador de Desviación </h3>
                <div class="indicator-container">
                    <div *ngIf="weeksByProject[weekId] != null" mat-line class="line-text" style="padding: 0px;">{{weeksByProject[weekId].deviation_indicator_name}} ({{weeksByProject[weekId].deviation_indicator}}%)</div>
                    <div *ngIf="weeksByProject[weekId] != null" class="circle" [ngStyle]="{'background-color': weeksByProject[weekId].deviation_indicator_color}"></div>
                </div>
                <div *ngIf="weeksByProject[weekId] == null" mat-line class="line-text-font"> {{labelAssignment}} </div>
                
                <mat-accordion>
                    <mat-expansion-panel class="mat-elevation-z0"
                                        (opened)="panelOpenState = true"
                                        (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h3 class="txt-primary title-expansion">Logros</h3>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div *ngIf="goalsByWeeks.length != 0">
                            <div *ngFor="let goalsWeek of goalsByWeeks; index as i">
                                <div mat-line class="line-text" style="padding-left: 0px;"> 
                                    <span style="font-weight: 500">{{i+1}}. Fecha: 
                                        <span style="font-weight: 400">{{goalsByWeeks[i].date.split("-")[2]}} - {{goalsByWeeks[i].date.split("-")[1]}} - {{goalsByWeeks[i].date.split("-")[0]}}</span>
                                    </span>
                                </div>
                                <div mat-line class="line-text"> {{goalsByWeeks[i].description}} </div>
                            </div>
                        </div>
                        <div *ngIf="goalsByWeeks.length == 0" mat-line class="line-text-font"> {{labelAssignment}} </div>
                    </mat-expansion-panel>

                    <mat-expansion-panel class="mat-elevation-z0"
                                        (opened)="panelOpenState = true"
                                        (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h3 class="txt-primary title-expansion">Próximas actividades</h3>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div *ngIf="nextActivitiesByWeek.length != 0">
                            <div *ngFor="let nextActivitiesWeek of nextActivitiesByWeek; index as i">
                                <div mat-line class="line-text" style="padding-left: 0px;"> 
                                    <span style="font-weight: 500">{{i+1}}. Fecha: 
                                        <span style="font-weight: 400">{{nextActivitiesByWeek[i].date.split("-")[2]}} - {{nextActivitiesByWeek[i].date.split("-")[1]}} - {{nextActivitiesByWeek[i].date.split("-")[0]}}</span>
                                    </span>
                                </div>
                                <div mat-line class="line-text"> {{nextActivitiesByWeek[i].description}} </div>
                            </div>
                        </div>
                        <div *ngIf="nextActivitiesByWeek.length == 0" mat-line class="line-text-font"> {{labelAssignment}} </div>
                    </mat-expansion-panel>

                    <mat-expansion-panel class="mat-elevation-z0"
                                        (opened)="panelOpenState = true"
                                        (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h3 class="txt-primary title-expansion">Observaciones</h3>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div *ngIf="obseravtionsByWeek.length != 0">
                            <div *ngFor="let obseravtionsWeek of obseravtionsByWeek; index as i">
                                <div mat-line class="line-text" style="padding-left: 0px;"> {{i+1}}. {{obseravtionsByWeek[i].description}} </div>
                            </div>
                        </div>
                        <div *ngIf="obseravtionsByWeek.length == 0" mat-line class="line-text-font"> {{labelAssignment}} </div>
                    </mat-expansion-panel>
                </mat-accordion>

            </mat-card>
        </div>

        <div class="col-sm-12 col-md-4">
            <mat-card class="card-content mat-elevation-z4">
                <mat-icon class="icons-cards txt-primary">paid</mat-icon>
                <mat-card-header>
                    <mat-card-title class="txt-accent">Presupuesto</mat-card-title>  
                </mat-card-header>
                
                <h3 class="h3-subtitle txt-primary">Aprobado</h3>
                <div mat-line class="line-text"> {{project.budget_approved}} COP</div>
                
                <h3 class="h3-subtitle txt-primary">Ejecutado</h3>
                <div mat-line class="line-text"> {{project.budget_executed}} COP</div>
                
                <h3 class="h3-subtitle txt-primary">Saldo</h3>
                <div mat-line class="line-text" style="display: flex; align-items: center;"> 
                    {{project.balance}} COP <div *ngIf="project.balance[0] == '-'" class="circle" style="background-color: #F44336; "></div></div>
            </mat-card>

            <mat-card class="card-content mat-elevation-z4">
                <mat-icon class="icons-cards txt-primary">vertical_split</mat-icon>
                <mat-card-header>
                    <mat-card-title class="txt-accent">Descripción del Proyecto</mat-card-title>  
                </mat-card-header>
                
                <h3 class="h3-subtitle txt-primary">Descripción</h3>
                <div mat-line class="line-text"> {{project.description}} </div>
                
                <h3 class="h3-subtitle txt-primary">Líder Funcional</h3>
                <div mat-line class="line-text" *ngIf="project.functional_lead != null"> {{project.functional_lead.first_name}} {{project.functional_lead.last_name}} </div>
                <div mat-line class="line-text-font" *ngIf="project.functional_lead == null"> {{labelAssignment}} </div>
                
                <h3 class="h3-subtitle txt-primary">Prioridad</h3>
                <div mat-line class="line-text"> {{project.priority.title}} </div>
                
                <h3 class="h3-subtitle txt-primary">Tipificación</h3>
                <div mat-line class="line-text"> {{project.typification.title}} </div>
                
                <h3 class="h3-subtitle txt-primary">Gestión</h3>
                <div mat-line class="line-text"> {{project.management.title}} </div>

                <h3 class="h3-subtitle txt-primary">Lineamiento Estratégico</h3>
                <div mat-line class="line-text" *ngIf="project.strategic_guideline != null"> {{project.strategic_guideline.name}} </div>
                <div mat-line class="line-text-font" *ngIf="project.strategic_guideline == null"> {{labelAssignment}} </div>
                
                <h3 class="h3-subtitle txt-primary">PMO asignado</h3>
                <div mat-line class="line-text" *ngIf="project.pmo != null"> {{project.pmo.first_name}} {{project.pmo.last_name}} </div>
                <div mat-line class="line-text-font" *ngIf="project.pmo == null"> {{labelAssignment}} </div>
                
                <h3 class="h3-subtitle txt-primary">Ocupación semanal PMO asignado</h3>
                <div mat-line class="line-text"> {{project.percentage}} %</div>
                
                <h3 class="h3-subtitle txt-primary">PMO de apoyo asignado</h3>
                <div mat-line *ngIf="project.pmo_assitant != null" class="line-text"> {{project.pmo_assitant.first_name}} {{project.pmo_assitant.last_name}} </div>
                <div mat-line *ngIf="project.pmo_assitant == null" class="line-text-font"> {{labelAssignment}} </div>
                
                <h3 class="h3-subtitle txt-primary">Ocupación semanal PMO apoyo</h3>
                <div mat-line *ngIf="project.pmo_assitant != null" class="line-text"> {{project.percentageAssistant}} %</div>
                <div mat-line *ngIf="project.pmo_assitant == null" class="line-text-font"> {{labelAssignment}} </div>
                
                <h3 class="h3-subtitle txt-primary">Etapa de apoyo PMO de apoyo</h3>
                <div mat-line *ngIf="project.pmo_assitant_stage != null" class="line-text"> {{project.pmo_assitant_stage.title}} </div>
                <div mat-line *ngIf="project.pmo_assitant_stage == null" class="line-text-font"> {{labelAssignment}} </div>
            </mat-card>

            <mat-card class="card-content mat-elevation-z4">
                <mat-icon class="icons-cards txt-primary">stream</mat-icon>
                <mat-card-header>
                    <mat-card-title class="row">
                        <span class="txt-accent">Interrelaciones</span>
                        <br>
                        <span style="font-size: 16px;">Total Proyectos Relacionados: {{interrelations.total}}</span>
                    </mat-card-title>  
                </mat-card-header>
                
                <div *ngFor="let interrelation of interrelations.interrelationsGeneral.data; index as i" >
                    <mat-accordion>
                        <mat-expansion-panel class="mat-elevation-z0" style="padding-bottom: 15px;">
                            <mat-expansion-panel-header>
                                <mat-panel-title class="row">
                                    <h3 class="txt-primary title-expansion">{{interrelation.title}}</h3>
                                    <br>
                                    <span style="font-size: 13px; font-weight: 500;">Total Proyectos Relacionados: {{interrelation.total}}</span>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div *ngIf="interrelation.data.length != 0">
                                <div *ngFor="let data of interrelation.data; index as j">
                                    <div mat-line class="line-text" style="padding-left: 0px; font-weight: 500; padding-bottom: 0px;"> {{j+1}}. {{data.name}} </div>
                                    <div *ngFor="let info of data.data; index as k">
                                        <div mat-line class="line-text">- {{info}} </div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="interrelation.data.length == 0" mat-line class="line-text-font"> {{labelTotalInterrelation}} </div>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>

                <div *ngFor="let interrelation of interrelations.interrelationsSpecific.data; index as i" class="">
                    <mat-accordion>
                        <mat-expansion-panel class="mat-elevation-z0" style="padding-bottom: 15px;">
                            <mat-expansion-panel-header>
                                <mat-panel-title class="row">
                                    <h3 class="txt-primary title-expansion">{{interrelation.title}}</h3>
                                    <br>
                                    <span style="font-size: 13px; font-weight: 500;">Total Proyectos Relacionados: {{interrelation.total}}</span>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div *ngIf="interrelation.data.length != 0">
                                <mat-accordion *ngFor="let type of interrelation.data; index as j">
                                    <mat-expansion-panel [expanded]="true" class="mat-elevation-z0" style="padding-bottom: 15px;">
                                        <mat-expansion-panel-header>
                                            <mat-panel-title class="row">
                                                <h3 class="txt-accent title-expansion">{{type.type}}</h3>
                                                <br>
                                                <span style="font-size: 13px; font-weight: 500;">Total Proyectos Relacionados: {{type.data.length}}</span>
                                            </mat-panel-title>
                                        </mat-expansion-panel-header>
                                        <div *ngIf="type.data.length != 0">
                                            <div *ngFor="let data of type.data; index as j">
                                                <br>
                                                <div class="row">
                                                    <div mat-line class="col-sm-12 col-md-9 line-text txt-primary" style="padding-left: 0px; font-weight: 500;"> {{j+1}}. {{data.projectName}} </div>

                                                    <div *ngIf="((project.pmo == null ? null : project.pmo!.id == userID) || (project.pmo_assitant == null ? null: project.pmo_assitant!.id == userID) || (project.functional_lead == null ? null : project.functional_lead.id == userID) || profileID == 2)" class="col-sm-12 col-md-3" style="display: flex; justify-content: space-between;">
                                                        <mat-icon *ngIf="actions.update" matTooltip="Editar" class="txt-primary" style="cursor:pointer; font-size: 19px;" (click)="editInterrelation(data.id)">create</mat-icon>
                                                        <mat-icon *ngIf="actions.delete" matTooltip="Eliminar" style="color: red; cursor:pointer; font-size: 19px;" (click)="deleteInterrelation(data.id)">delete</mat-icon>
                                                    </div>
                                                </div>
                                                <div mat-line class="cont-inter"> Fecha de identificación:</div>
                                                <div mat-line class="line-text" style="padding-left: 15px; ">{{data.date.substring(0,10).split("-")[2]}} - {{data.date.split("-")[1]}} - {{data.date.split("-")[0]}}</div>
                                                <div mat-line class="cont-inter"> Impacto:</div>
                                                <div mat-line class="line-text" style="padding-left: 15px; ">{{data.impact}} </div>
                                                <div mat-line class="cont-inter"> Elementos a tener en cuenta::</div>
                                                <div mat-line class="line-text" style="padding-left: 15px; ">{{data.description}} </div>
                                                <mat-divider style="margin-left: 25px;"></mat-divider>
                                            </div>
                                        </div>
                                        <div *ngIf="type.data.length == 0" mat-line class="line-text-font"> {{labelTotalInterrelation}} </div>
                                    </mat-expansion-panel>
                                </mat-accordion>
                            </div>
                            <div *ngIf="interrelation.data.length == 0" mat-line class="line-text-font"> {{labelTotalInterrelation}} </div>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>

            </mat-card>

        </div>
        <div class="col-sm-12 col-md-4">
            <mat-card class="card-content mat-elevation-z4">
                <mat-icon class="icons-cards txt-primary">track_changes</mat-icon>
                <mat-card-header>
                    <mat-card-title class="txt-accent">Tiempos</mat-card-title>  
                </mat-card-header>
                
                <h3 class="h3-subtitle txt-primary">Fecha de Inicio</h3>
                <div mat-line *ngIf="project.start_date == null || project.start_date == ''" class="line-text-font"> {{labelAssignment}}</div>
                <div mat-line *ngIf="project.start_date != null" class="line-text"> {{project.start_date.split("-")[2]}} - {{project.start_date.split("-")[1]}} - {{project.start_date.split("-")[0]}} </div>
                
                <h3 class="h3-subtitle txt-primary">Fecha estimada de Finalización</h3>
                <div mat-line *ngIf="project.due_date == null || project.due_date == ''" class="line-text-font"> {{labelAssignment}} </div>
                <div mat-line *ngIf="project.due_date != null" class="line-text"> {{project.due_date.split("-")[2]}} - {{project.due_date.split("-")[1]}} - {{project.due_date.split("-")[0]}} </div>
                
                <h3 class="h3-subtitle txt-primary">Fecha de Control</h3>
                <div mat-line *ngIf="project.control_date == null || project.control_date == ''" class="line-text-font"> {{labelAssignment}}</div>
                <div mat-line *ngIf="project.control_date != null" class="line-text"> {{project.control_date.split("-")[2]}} - {{project.control_date.split("-")[1]}} - {{project.control_date.split("-")[0]}}</div>
                
                <h3 class="h3-subtitle txt-primary">Estado</h3>
                <div mat-line class="line-text"> {{project.states_by_phase.state.title}} </div>
                
                <h3 class="h3-subtitle txt-primary">Fase</h3>
                <div mat-line class="line-text"> {{project.states_by_phase.phase.title}} </div>
                
                <h3 class="h3-subtitle txt-primary">Sprint</h3>
                <div mat-line class="line-text" *ngIf="project.sprint != null"> {{project.sprint}} </div>
                <div mat-line class="line-text-font" *ngIf="project.sprint == null"> {{labelAssignment}} </div>
                
                <h3 class="h3-subtitle txt-primary">Evaluación de Proveedores</h3>
                <div mat-line *ngIf="project.evaluation == null" class="line-text-font"> {{labelAssignment}} </div>
                <div mat-line *ngIf="project.evaluation != null" class="line-text"> {{project.evaluation}} </div>
                
                <h3 class="h3-subtitle txt-primary">Bitacora de Pruebas</h3>
                <div mat-line class="line-text"> {{project.test_log}} </div>
            </mat-card>

            <mat-card class="card-content mat-elevation-z4">
                <mat-icon class="icons-cards txt-primary">apps</mat-icon>
                <mat-card-header>
                    <mat-card-title class="txt-accent">Relacionados</mat-card-title>  
                </mat-card-header>
                
                <h3 class="h3-subtitle txt-primary">Aplicaciones Impactadas</h3>
                <div *ngIf="applicationsByProject.length != 0">
                    <div *ngFor="let applicationProject of applicationsByProject; index as i">
                        <div mat-line class="line-text"> {{i+1}}. {{applicationsByProject[i].application.title}} </div>
                    </div>
                </div>
                <div *ngIf="applicationsByProject.length == 0" mat-line class="line-text-font"> {{labelAssignment}} </div>
                
                <h3 class="h3-subtitle txt-primary">Áreas Participantes</h3>
                <div *ngIf="areasByProject.length != 0">
                    <div *ngFor="let areasProject of areasByProject; index as i">
                        <div mat-line class="line-text"> {{i+1}}. {{areasByProject[i].area.title}} - {{areasByProject[i].area.vice_presidency.title}}</div>
                    </div>
                </div>
                <div *ngIf="areasByProject.length == 0" mat-line class="line-text-font"> {{labelAssignment}} </div>
                
                <h3 class="h3-subtitle txt-primary">Proveedores</h3>
                <div *ngIf="companiesByProject.length != 0">
                    <div *ngFor="let companiesProject of companiesByProject; index as i">
                        <div mat-line class="line-text"> {{i+1}}. {{companiesByProject[i].company.title}} </div>
                    </div>
                </div>
                <div *ngIf="companiesByProject.length == 0" mat-line class="line-text-font"> {{labelAssignment}} </div>
            </mat-card>

            <mat-card class="card-content mat-elevation-z4">
                <div class="row">
                    <mat-icon class="icons-cards txt-primary col-sm-12 col-md-12">dynamic_form</mat-icon>
                </div>    
                <mat-card-header>
                    <mat-card-title class="txt-accent">Causales de Desviación </mat-card-title>
                </mat-card-header>
                <h3 class="h3-subtitle txt-primary">Total causales de desviación</h3>
                <div mat-line class="line-text"> {{desviationCausesGeneral.total}} </div>
                <h3 class="h3-subtitle txt-primary">Total impacto tiempo (días)</h3>
                <div mat-line class="line-text"> {{desviationCausesGeneral.impacts_time}} </div>
                <h3 class="h3-subtitle txt-primary">Total variación de costos</h3>
                <div mat-line class="line-text"> {{numberToCOP(desviationCausesGeneral.cost_variation)}} </div>
                <br>
                <div *ngIf="desviationCauses.length != 0" >
                    <div class="line-text causal-header">
                        <div class="cause-header-text-icon">
                            <h2  class=" txt-accent">Causal {{desviationId +1}}</h2>
                            <mat-icon class="txt-primary" *ngIf="actions.update  && ((project.pmo == null ? null : project.pmo!.id == userID) || (project.pmo_assitant == null ? null: project.pmo_assitant!.id == userID) || (project.functional_lead == null ? null : project.functional_lead.id == userID) || profileID == 2)" matRipple (click)="onDesviationEdit(desviationCauses[desviationId].id!)">create</mat-icon>
                        </div>
                        <div *ngIf="desviationCauses.length != 0" class="causal-content">
                            <button mat-button [disabled]="desviationId == 0" class="buttons-options-arrows" (click)="beforeDesviation()">
                                <mat-icon [ngClass]="(desviationId == 0)? 'icons-cards':'icons-cards txt-primary'">navigate_before</mat-icon>
                            </button>
                            <button mat-button [disabled]="desviationId == desviationCauses.length - 1" class="buttons-options-arrows" (click)="nextDesviation()">
                                <mat-icon [ngClass]="(desviationId == desviationCauses.length - 1)? 'icons-cards':'icons-cards txt-primary'">navigate_next</mat-icon>
                            </button> 
                        </div>   
                    </div>
                
                    <mat-accordion>
                        <mat-expansion-panel class="mat-elevation-z0"
                                            (opened)="panelOpenState = true"
                                            (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <h3 class="txt-primary title-expansion title-ex">General</h3>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <h3 class="h3-subtitle txt-primary">Fecha de incidencia</h3>
                            <div mat-line class="line-text"> {{(desviationCauses[desviationId].date).substr(0,10).split("-")[2]}} - {{(desviationCauses[desviationId].date).substr(0,10).split("-")[1]}} - {{(desviationCauses[desviationId].date).substr(0,10).split("-")[0]}} </div>
                            <h3 class="h3-subtitle txt-primary">Entregable</h3>
                            <div mat-line class="line-text"> {{desviationCauses[desviationId].deliverable}} </div>
                        </mat-expansion-panel>

                        <mat-expansion-panel class="mat-elevation-z0"
                                            (opened)="panelOpenState = true"
                                            (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <h3 class="txt-primary title-expansion title-ex">Atraso</h3>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <h3 class="h3-subtitle txt-primary">Fuente de atraso</h3>
                            <div mat-line class="line-text"> {{desviationCauses[desviationId].delay_cause_by_source!.delay_source!.name!}} </div>
                            <h3 class="h3-subtitle txt-primary">Causa de atraso</h3>
                            <div mat-line class="line-text"> {{desviationCauses[desviationId].delay_cause_by_source!.delay_cause!.name!}} </div>
                            <h3 class="h3-subtitle txt-primary">Tipificación de atraso</h3>
                            <div mat-line class="line-text"> {{desviationCauses[desviationId].delay_typification!.name!}} </div>
                            <h3 class="h3-subtitle txt-primary">Causa del atraso</h3>
                            <div mat-line class="line-text"> {{desviationCauses[desviationId].cause_delay}} </div>
                        </mat-expansion-panel>
                        
                        <mat-expansion-panel class="mat-elevation-z0"
                                            (opened)="panelOpenState = true"
                                            (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <h3 class="txt-primary title-expansion title-ex">Impacto</h3>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <h3 class="h3-subtitle txt-primary">Impacta ruta crítica</h3>
                            <div mat-line class="line-text"> {{desviationCauses[desviationId].impacts_critical_path ? 'Sí' : 'No'}} </div>
                            <h3 class="h3-subtitle txt-primary">Impato tiempo (días)</h3>
                            <div mat-line class="line-text"> {{desviationCauses[desviationId].impacts_time}} </div>
                            <h3 class="h3-subtitle txt-primary">Variación de costos</h3>
                            <div mat-line class="line-text"> {{numberToCOP(desviationCauses[desviationId].cost_variation)}} </div>
                            <h3 class="h3-subtitle txt-primary">Actividad cronograma impactada</h3>
                            <div mat-line class="line-text"> {{desviationCauses[desviationId].schedule_activity_impacted}} </div>                    
                        </mat-expansion-panel>

                        <mat-expansion-panel class="mat-elevation-z0"
                                            (opened)="panelOpenState = true"
                                            (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <h3 class="txt-primary title-expansion title-ex">Solución</h3>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <h3 class="h3-subtitle txt-primary">Solución propuesta</h3>
                            <div mat-line class="line-text"> {{desviationCauses[desviationId].proposed_solution}} </div>
                            <h3 class="h3-subtitle txt-primary">Estado de la solución</h3>
                            <div mat-line class="line-text"> {{desviationCauses[desviationId].solution_state!.name!}} </div>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
            </mat-card>
        </div>

    </div>
</div>
<div *ngIf="!actions.read">
    <tecno-unauthorized></tecno-unauthorized>
</div>