<div class="row" style="margin-bottom: 20px;">
    <div class="header-row col-sm-12 col-md-12" style="flex-wrap: wrap;">
        <h1 class="col-sm-12 col-md-6 txt-accent" style="font-weight: 500; font-size: xx-large;">{{project.title}}</h1>
        <div class="header-row col-sm-12 col-md-6" style="flex-wrap: wrap;">
            <button class="buttons-options" mat-menu-item (click)="onProjectEdit()">
                <mat-icon>editchart</mat-icon>
                <span>Editar Proyecto</span>
            </button>
            <button class="buttons-options" mat-menu-item (click)="onWeek()">
                <mat-icon>insert_invitation</mat-icon>
                <span>Seguimiento Semanal</span>
            </button>
            <button class="buttons-options" mat-menu-item (click)="onValorem()">
                <mat-icon>addchart</mat-icon>
                <span>Reporte Valorem</span>
              </button>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-sm-12 col-md-4">
        <mat-card class="card-content mat-elevation-z4 mat-elevation-z4">
            <mat-icon class="icons-cards txt-primary">bubble_chart</mat-icon>
            <mat-card-header>
                <mat-card-title class="txt-accent">Objetivos</mat-card-title>  
            </mat-card-header>
            <h3 class="h3-subtitle txt-primary">Beneficios</h3>
            <div *ngFor="let benefitsProject of benefitsByProject; index as i">
                <div mat-line class="line-text"> {{benefitsByProject[i].description}} </div>
            </div>
            <h3 class="h3-subtitle txt-primary">Hitos</h3>
            <div *ngFor="let highlightsProject of highlightsByProject; index as i">
                <div mat-line class="line-text"> {{highlightsByProject[i].description}} </div>
            </div>
            <h3 class="h3-subtitle txt-primary">KPI's</h3>
            <div *ngFor="let kpisProject of kpisByProject; index as i">
                <div mat-line class="line-text"> {{kpisByProject[i].description}} </div>
            </div>
            <h3 class="h3-subtitle txt-primary">Riesgos</h3>
            <div *ngFor="let risksProject of risksByProject; index as i">
                <div mat-line class="line-text"> {{risksByProject[i].description}} </div>
            </div>
        </mat-card>

        <mat-card class="card-content mat-elevation-z4">
            <mat-icon class="icons-cards txt-primary">description</mat-icon>
            <mat-card-header>
                <mat-card-title class="txt-accent">Aspectos Generales</mat-card-title>  
            </mat-card-header>
            <h3 class="h3-subtitle txt-primary">Número de Proyecto</h3>
            <div mat-line class="line-text"> {{project.id}} </div>
            <h3 class="h3-subtitle txt-primary">Vicepresidencia</h3>
            <div mat-line class="line-text"> {{project.area.vice_presidency_id}} </div>
            <h3 class="h3-subtitle txt-primary">Área</h3>
            <div mat-line class="line-text"> {{project.area.title}} </div>
            <h3 class="h3-subtitle txt-primary">Enfoque Estratégico</h3>
            <div mat-line class="line-text"> {{project.strategic_approach.title}} </div>
            <h3 class="h3-subtitle txt-primary">Fecha de Recepción</h3>
            <div mat-line class="line-text"> {{project.reception_date}} </div>
            <h3 class="h3-subtitle txt-primary">Programa</h3>
            <div mat-line *ngIf="project.program != null" class="line-text" > {{project.program.title}} </div>
            <div mat-line *ngIf="project.program == null" class="line-text-font"> Sin asignar </div>
        </mat-card>
    </div>
    <div class="col-sm-12 col-md-4">
        <mat-card class="card-content mat-elevation-z4">
            <mat-icon class="icons-cards txt-primary">paid</mat-icon>
            <mat-card-header>
                <mat-card-title class="txt-accent">Presupuesto</mat-card-title>  
            </mat-card-header>
            <h3 class="h3-subtitle txt-primary">Aprovado</h3>
            <div mat-line class="line-text"> {{project.budget_approved}} COP</div>
            <h3 class="h3-subtitle txt-primary">Ejecutado</h3>
            <div mat-line class="line-text"> {{project.budget_executed}} COP</div>
            <h3 class="h3-subtitle txt-primary">Saldo</h3>
            <div mat-line class="line-text"> {{project.balance}} COP</div>
        </mat-card>

        <mat-card class="card-content mat-elevation-z4">
            <mat-icon class="icons-cards txt-primary">vertical_split</mat-icon>
            <mat-card-header>
                <mat-card-title class="txt-accent">Descripción del Proyecto</mat-card-title>  
            </mat-card-header>
            <h3 class="h3-subtitle txt-primary">Descripción</h3>
            <div mat-line class="line-text"> {{project.description}} </div>
            <h3 class="h3-subtitle txt-primary">Líder Funcional</h3>
            <div mat-line class="line-text"> {{project.functional_lead.first_name}} {{project.functional_lead.last_name}} </div>
            <h3 class="h3-subtitle txt-primary">Prioridad</h3>
            <div mat-line class="line-text"> {{project.priority.title}} </div>
            <h3 class="h3-subtitle txt-primary">Tipificación</h3>
            <div mat-line class="line-text"> {{project.typification.title}} </div>
            <h3 class="h3-subtitle txt-primary">Gestión</h3>
            <div mat-line class="line-text"> {{project.management.title}} </div>
            <h3 class="h3-subtitle txt-primary">PMO asignado</h3>
            <div mat-line class="line-text"> {{project.pmo.first_name}} {{project.pmo.first_name}} </div>
            <h3 class="h3-subtitle txt-primary">Ocupación semanal PMO asignado</h3>
            <div mat-line class="line-text"> {{project.percentage}} %</div>
            <h3 class="h3-subtitle txt-primary">PMO de apoyo asignado</h3>
            <div mat-line *ngIf="project.pmo_assitant != null" class="line-text"> {{project.pmo_assitant.first_name}} {{project.pmo_assitant.first_name}} </div>
            <div mat-line *ngIf="project.pmo_assitant == null" class="line-text-font"> Sin asignar </div>
            <h3 class="h3-subtitle txt-primary">Ocupación semanal PMO apoyo</h3>
            <div mat-line *ngIf="project.pmo_assitant != null" class="line-text"> {{project.percentageAssistant}} %</div>
            <div mat-line *ngIf="project.pmo_assitant == null" class="line-text-font"> Sin asignar </div>
            <h3 class="h3-subtitle txt-primary">Etapa de apoyo PMO de apoyo</h3>
            <div mat-line *ngIf="project.pmo_assitant_stage != null" class="line-text"> {{project.pmo_assitant_stage.title}} </div>
            <div mat-line *ngIf="project.pmo_assitant_stage == null" class="line-text-font"> Sin asignar </div>
        </mat-card>

        <mat-card class="card-content mat-elevation-z4">
            <mat-icon class="icons-cards txt-primary">supervisor_account</mat-icon>
            <mat-card-header>
                <mat-card-title class="txt-accent">Recursos Funcionales de Prueba</mat-card-title>  
            </mat-card-header>
            <div *ngFor="let testUsersProject of testUsersByProject; index as i">
                <div mat-line class="line-text"> {{testUsersByProject[i].user.first_name}} {{testUsersByProject[i].user.last_name}} </div>
            </div>
        </mat-card>
    </div>
    <div class="col-sm-12 col-md-4">
        <mat-card class="card-content mat-elevation-z4">
            <mat-icon class="icons-cards txt-primary">track_changes</mat-icon>
            <mat-card-header>
                <mat-card-title class="txt-accent">Seguimiento</mat-card-title>  
            </mat-card-header>
            <h3 class="h3-subtitle txt-primary">Fecha de Inicio</h3>
            <div mat-line *ngIf="project.start_date == null || project.start_date == ''" class="line-text-font"> Sin asignar</div>
            <div mat-line *ngIf="project.start_date != null" class="line-text"> {{project.start_date}} </div>
            <h3 class="h3-subtitle txt-primary">Fecha estimada de Finalización</h3>
            <div mat-line *ngIf="project.due_date == null || project.due_date == ''" class="line-text-font"> Sin asignar </div>
            <div mat-line *ngIf="project.due_date != null" class="line-text"> {{project.due_date}} </div>
            <h3 class="h3-subtitle txt-primary">Fecha de Control</h3>
            <div mat-line *ngIf="project.control_date == null || project.control_date == ''" class="line-text-font"> Sin asignar</div>
            <div mat-line *ngIf="project.control_date != null" class="line-text"> {{project.control_date}} </div>
            <h3 class="h3-subtitle txt-primary">Estado</h3>
            <div mat-line class="line-text"> {{project.states_by_phase.state_id}} </div>
            <h3 class="h3-subtitle txt-primary">Fase</h3>
            <div mat-line class="line-text"> {{project.states_by_phase.phase_id}} </div>
            <h3 class="h3-subtitle txt-primary">Sprint</h3>
            <div mat-line class="line-text"> {{project.sprint}} </div>
            <h3 class="h3-subtitle txt-primary">Evaluación de Proveedores</h3>
            <div mat-line *ngIf="project.evaluation == null" class="line-text-font"> Sin asignar </div>
            <div mat-line *ngIf="project.evaluation != null" class="line-text"> {{project.evaluation}} </div>
            <h3 class="h3-subtitle txt-primary">Bitacora de Pruebas</h3>
            <div mat-line class="line-text"> {{project.test_log}} </div>
        </mat-card>

        <mat-card class="card-content mat-elevation-z4">
            <mat-icon class="icons-cards txt-primary">apps</mat-icon>
            <mat-card-header>
                <mat-card-title class="txt-accent">Relacionados</mat-card-title>  
            </mat-card-header>
            <h3 class="h3-subtitle txt-primary">Aplicaciones Impactadas</h3>
            <div *ngFor="let applicationProject of applicationsByProject; index as i">
                <div mat-line class="line-text"> {{applicationsByProject[i].application.title}} </div>
            </div>
            <h3 class="h3-subtitle txt-primary">Áreas Participantes</h3>
            <div *ngFor="let areasProject of areasByProject; index as i">
                <div mat-line class="line-text"> {{areasByProject[i].area.title}} - {{areasByProject[i].area.vice_presidency_id}}</div>
            </div>
            <h3 class="h3-subtitle txt-primary">Proveedores</h3>
            <div *ngFor="let companiesProject of companiesByProject; index as i">
                <div mat-line class="line-text"> {{companiesByProject[i].company.title}} </div>
            </div>
        </mat-card>
    </div>

</div>