@use '~@angular/material' as mat;
// @use "sass:map";
@include mat.core();
// @use 'sass:map';

$theme-colors: (
  "red": mat.get-color-from-palette(mat.$red-palette, 500),
  "pink": mat.get-color-from-palette(mat.$pink-palette, 500),
  "purple": mat.get-color-from-palette(mat.$purple-palette, 500),
  "deep-purple": mat.get-color-from-palette(mat.$deep-purple-palette, 500),
  "indigo": mat.get-color-from-palette(mat.$indigo-palette, 500),
  "blue": mat.get-color-from-palette(mat.$blue-palette, 500),
  "light-blue": mat.get-color-from-palette(mat.$light-blue-palette, 500),
  "cyan": mat.get-color-from-palette(mat.$cyan-palette, 500),
  "teal": mat.get-color-from-palette(mat.$teal-palette, 500),
  "green": mat.get-color-from-palette(mat.$green-palette, 500),
  "light-green": mat.get-color-from-palette(mat.$light-green-palette, 500),
  "lime": mat.get-color-from-palette(mat.$lime-palette, 500),
  "yellow": mat.get-color-from-palette(mat.$yellow-palette, 500),
  "amber": mat.get-color-from-palette(mat.$amber-palette, 500),
  "orange": mat.get-color-from-palette(mat.$orange-palette, 500),
  "deep-orange": mat.get-color-from-palette(mat.$deep-orange-palette, 500),
  "brown": mat.get-color-from-palette(mat.$brown-palette, 500),
  "grey": mat.get-color-from-palette(mat.$grey-palette, 500),
  "blue-grey": mat.get-color-from-palette(mat.$blue-grey-palette, 500),
  "white": #fff,
  "black": #000
);

$colors: "red", "pink", "purple", "deep-purple", "indigo", "blue", "light-blue", "cyan", "teal", "green", "light-green", "lime", "yellow", "amber", "orange", "deep-orange", "brown", "grey", "blue-grey", "white", "black";

// $candy-app-theme:   mat.define-light-theme((
//   color: (
//     title: $color-title,
//   )
// ));

// @include mat.all-component-themes($candy-app-theme);

.mat-title {
  color: map_get($theme-colors, "grey") !important;
}

.caption-card {
  color: #ffffff;
}

@each $color in $colors {
  .bg-#{$color} {
    background-color: map_get($theme-colors, $color) !important;
  }
}

@each $color in $colors {
  .txt-#{$color} {
    color: map_get($theme-colors, $color) !important;
  }
}

