<div class="buttons">
    <button mat-mini-fab color="{{barSelected ? 'primary' : 'accent'}}"  aria-label="Example icon button with a plus one icon" (click)="barButton()">
        <mat-icon aria-hidden="false" aria-label="Grafica de Barras">bar_chart</mat-icon>
    </button>
    <button mat-mini-fab color="{{!barSelected ? 'primary' : 'accent'}}" aria-label="Example icon button with a plus one icon" (click)="pieButton()">
        <mat-icon aria-hidden="false" aria-label="Grafica de Barras">pie_chart</mat-icon>
    </button>
</div>
<ngx-charts-bar-vertical 
    *ngIf="barSelected"
    [view]="[750,200]"
    [results]="data"
    [scheme]="colorScheme"
    [xAxisLabel]="'Indicador'"
    [legendTitle]="'Indicadores'"
    [yAxisLabel]="'Cantidad'"
    [legend]="false"
    [showXAxisLabel]="false"
    [showYAxisLabel]="false"
    [xAxis]="true"
    [yAxis]="true"
    [gradient]="false">
</ngx-charts-bar-vertical>
<ngx-charts-pie-chart 
    *ngIf="!barSelected"
    [results]="data"
    [scheme]="colorScheme"
    [legend]="true"
    [legendTitle]="'Indicadores'" 
    [view]="[750,200]"
    [legendPosition]="'right'"
    [labels]="false" 
    [maxLabelLength] ="20">
</ngx-charts-pie-chart>