.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.graphPie {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 70px;
}

.content-comparative {
  max-height: 700px;
}

.content-opportunity {
  display: flex;
  width: 100%;
  max-height: 2000px;
}