<h2>Status/</h2>
<h1>Status</h1>
<div class="buttons">
  <button mat-mini-fab color="accent" aria-label="Descargar archivo Excel" (click)="download()">
      <mat-icon>get_app</mat-icon>
  </button>
</div>
  
<div class="container-general">
    <tecno-statuses-filter></tecno-statuses-filter>
    
    <div  *ngIf="lleno()" class="container-list" style="color: white;">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
          
            <!-- Position Column -->
            <ng-container matColumnDef="item_id">
              <th mat-header-cell *matHeaderCellDef> # Requerimiento </th>
              <td mat-cell *matCellDef="let element"> {{element.item_id}} </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="item_title">
              <th mat-header-cell *matHeaderCellDef> Nombre </th>
              <td mat-cell *matCellDef="let element"> {{element.item_title}} </td>
            </ng-container>
          
            <!-- Symbol Column -->
            <ng-container matColumnDef="item_status">
              <th mat-header-cell *matHeaderCellDef> Estatus </th>
              <td mat-cell *matCellDef="let element"> {{element.item_status}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="date_change">
              <th mat-header-cell *matHeaderCellDef> Fecha actualización </th>
              <td mat-cell *matCellDef="let element"> {{element.date_change}} </td>
            </ng-container>

            <ng-container matColumnDef="project_title">
              <th mat-header-cell *matHeaderCellDef> Proyecto </th>
              <td mat-cell *matCellDef="let element"> {{element.project_title}} </td>
            </ng-container>

            <ng-container matColumnDef="user_updates_name">
              <th mat-header-cell *matHeaderCellDef> Usuario </th>
              <td mat-cell *matCellDef="let element"> {{element.user_updates_name}} </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator  [pageSizeOptions]="[5, 10, 20, 50]" showFirstLastButtons></mat-paginator>
    </div>
    <div  *ngIf="!lleno()" class="container-message">
      <h1>No se encontraron registros</h1>
    </div>
    
</div>
