<h2 class="txt-accent">Vicepresidencias</h2>
<div class="header-row col-sm-12 col-md-8">
    <div *ngFor="let vice of vicepresidencies; index as i" class="row contenedor">
        <div class="circle" [ngStyle]="{'background-color': 'blue'}"></div>
        <span>{{vice.title}} </span>
    </div>
</div>


<div class="row" style="display: flex; justify-content: space-between;">

    <div class="col-sm-12 col-md-8">
        <tecno-gephi 
            [dataGraph]="dataGraph"
            [minRadius]="minRadius"
            [maxRadius]="maxRadius"
            [distance]="distance"
            (emitClick)="click($event)">
        </tecno-gephi>
        
        
    </div>

    <mat-card *ngIf="flag == '1'" class="card-content mat-elevation-z4 col-sm-12 col-md-4">
        <mat-icon class="icons-cards txt-primary">stream</mat-icon>
                <mat-card-header>
                    <mat-card-title class="row">
                        <span class="txt-accent">Interrelaciones de {{project.title}}</span>
                        <br>
                        <span style="font-size: 16px;">Total Proyectos Relacionados: {{interrelations.total}}</span>
                    </mat-card-title>  
                </mat-card-header>
                
                <div *ngFor="let interrelation of interrelations.interrelationsGeneral.data; index as i" >
                    <mat-accordion>
                        <mat-expansion-panel class="mat-elevation-z0" style="padding-bottom: 15px;">
                            <mat-expansion-panel-header>
                                <mat-panel-title class="row">
                                    <h3 class="txt-primary title-expansion">{{interrelation.title}}</h3>
                                    <br>
                                    <span style="font-size: 13px; font-weight: 500;">Total Proyectos Relacionados: {{interrelation.total}}</span>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div *ngIf="interrelation.data.length != 0">
                                <div *ngFor="let data of interrelation.data; index as j">
                                    <div mat-line class="line-text" style="padding-left: 0px; font-weight: 500; padding-bottom: 0px;"> {{j+1}}. {{data.name}} </div>
                                    <div *ngFor="let info of data.data; index as k">
                                        <div mat-line class="line-text">- {{info}} </div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="interrelation.data.length == 0" mat-line class="line-text-font"> {{labelTotalInterrelation}} </div>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>

                <div *ngFor="let interrelation of interrelations.interrelationsSpecific.data; index as i" class="">
                    <mat-accordion>
                        <mat-expansion-panel class="mat-elevation-z0" style="padding-bottom: 15px;">
                            <mat-expansion-panel-header>
                                <mat-panel-title class="row">
                                    <h3 class="txt-primary title-expansion">{{interrelation.title}}</h3>
                                    <br>
                                    <span style="font-size: 13px; font-weight: 500;">Total Proyectos Relacionados: {{interrelation.total}}</span>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div *ngIf="interrelation.data.length != 0">
                                <mat-accordion *ngFor="let type of interrelation.data; index as j">
                                    <mat-expansion-panel [expanded]="true" class="mat-elevation-z0" style="padding-bottom: 15px;">
                                        <mat-expansion-panel-header>
                                            <mat-panel-title class="row">
                                                <h3 class="txt-accent title-expansion">{{type.type}}</h3>
                                                <br>
                                                <span style="font-size: 13px; font-weight: 500;">Total Proyectos Relacionados: {{type.data.length}}</span>
                                            </mat-panel-title>
                                        </mat-expansion-panel-header>
                                        <div *ngIf="type.data.length != 0">
                                            <div *ngFor="let data of type.data; index as j">
                                                <br>
                                                <div class="row">
                                                    <div mat-line class="col-sm-12 col-md-9 line-text txt-primary" style="padding-left: 0px; font-weight: 500;"> {{j+1}}. {{data.projectName}} </div>

                                                    <!-- <div *ngIf="((project.pmo == null ? null : project.pmo!.id == userID) || (project.pmo_assitant == null ? null: project.pmo_assitant!.id == userID) || (project.functional_lead == null ? null : project.functional_lead.id == userID) || profileID == 2)" class="col-sm-12 col-md-3" style="display: flex; justify-content: space-between;">
                                                        <mat-icon *ngIf="actions.update" matTooltip="Editar" class="txt-primary" style="cursor:pointer; font-size: 19px;" (click)="editInterrelation(data.id)">create</mat-icon>
                                                        <mat-icon *ngIf="actions.delete" matTooltip="Eliminar" style="color: red; cursor:pointer; font-size: 19px;" (click)="deleteInterrelation(data.id)">delete</mat-icon>
                                                    </div> -->
                                                </div>
                                                <div mat-line class="cont-inter"> Fecha de identificación:</div>
                                                <div mat-line class="line-text" style="padding-left: 15px; ">{{data.date.substring(0,10)}} </div>
                                                <div mat-line class="cont-inter"> Impacto:</div>
                                                <div mat-line class="line-text" style="padding-left: 15px; ">{{data.impact}} </div>
                                                <div mat-line class="cont-inter"> Elementos a tener en cuenta::</div>
                                                <div mat-line class="line-text" style="padding-left: 15px; ">{{data.description}} </div>
                                                <mat-divider style="margin-left: 25px;"></mat-divider>
                                            </div>
                                        </div>
                                        <div *ngIf="type.data.length == 0" mat-line class="line-text-font"> {{labelTotalInterrelation}} </div>
                                    </mat-expansion-panel>
                                </mat-accordion>
                            </div>
                            <div *ngIf="interrelation.data.length == 0" mat-line class="line-text-font"> {{labelTotalInterrelation}} </div>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
    </mat-card>
</div>

<br><br>
<mat-divider></mat-divider>
<br><br>
<h1 class="txt-primary" style="font-weight: 500;">Top 5 Interrelaciones</h1>

<div *ngIf="general_top.length != 0" class="row">
    <div *ngFor="let top of general_top.basics.data index as i" class="col-sm-12 col-md-3">
        <h2 class="txt-accent">{{top.name}}</h2>
        <mat-accordion>
            <mat-expansion-panel *ngFor="let data of top.data; index as i" class="mat-elevation-z0" style="padding-left: -15px;">
                <mat-expansion-panel-header>
                <mat-panel-title class="row">
                    <h3 class="txt-primary title-expansion">{{i+1}}. {{data.name}}</h3>
                    <!-- <span  style="font-size: 12px;">Proyectos Relacionados: {{data.data.length}}</span> -->
                </mat-panel-title>
                </mat-expansion-panel-header>
                <div *ngIf="data.data.length != 0" >
                    <div *ngFor="let projects of data.data; index as i" mat-line class="line-text" style="padding-left: 0px;">- {{projects}}</div>
                </div>
                <div *ngIf="data.data.length == 0" mat-line class="line-text-font"> No asignado </div>
            </mat-expansion-panel>
        </mat-accordion>
        <br>
    </div>
</div>

<br>
<div *ngIf="general_top.length != 0" class="row">
    <div *ngFor="let top of general_top.specifics.data index as i" class="row col-sm-12 col-md-6">
        <h2 class="txt-accent">{{top.name}}</h2>
        <div *ngFor="let info of top.data as i" class="col-sm-12 col-md-6 ">
            <h2 style="font-size: 16px;">{{info.name}}</h2>
            <mat-accordion>
                <mat-expansion-panel *ngFor="let data of info.data; index as i" class="mat-elevation-z0" style="padding-left: -15px;">
                    <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h3 class="txt-primary title-expansion">{{i+1}}. {{data.name}}</h3>
                    </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div *ngIf="data.data.length != 0" >
                        <div *ngFor="let projects of data.data; index as i" mat-line class="line-text" style="padding-left: 0px;">- {{projects}}</div>
                    </div>
                    <div *ngIf="data.data.length == 0" mat-line class="line-text-font"> No asignado </div>
                </mat-expansion-panel>
            </mat-accordion>
            <br>
        </div>
    </div>
</div>