.buttons-options {
    width: auto;
    text-align: center;
    border-radius: 5px;
 }
.header-row {
    display: flex; 
    align-items: center; 
    justify-content: space-between;
}
.title-expansion {
    margin-bottom: 0px;
    font-weight: 500;
}
.title-expansion-program {
    margin-bottom: 0px;
    font-weight: 500;
}
span {
    padding-left: 20px;
}

.graph {
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
}

.row {
    align-items: center;
}

.table {
    position: relative;
    overflow-x: auto;
}

.circle{
    border-radius: 20px;
    margin-left: 10px; 
    height: 10px;
    width: 20px;
}

.indicator-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 27px;
    max-width: 150px;
    width: 80%;
}

.description {
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    color: #424242;
    font-size: 14px;
    align-items: center;
}

.description-program {
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    color: #424242;
    font-size: 14px;
    align-items: center;
}

.spinner {
    width: 100%;
    display: flex;
    justify-content: center;
}

.button-filter{
    width: auto;
    max-height: 40px;
    display: flex;
    justify-content: space-between;
    margin-left: 5px;
    align-items: center;
}

.expandible-responsive {
    min-width: 900px;
    position: relative;
    overflow-x: auto;
}

.span-programs {
    padding-left: 0px !important;
}

@media only screen and (max-width: 1700px) {
    .description-program {
        font-weight: 400;
        color: #424242;
        font-size: 13px;
    }
    .exp{ 
        height: 50px;
    }
    .circle{
        border-radius: 20px;
        margin-left: 10px; 
        height: 10px;
        width: 20px;
    }
    .title-expansion-program {
        margin-bottom: 0px;
        font-weight: 500;
        font-size: 14px;
    }
    .indicator-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-height: 27px;
        max-width: 170px;
        width: 80%;
    }
}
@media only screen and (max-width: 1300px) {
    .exp{ 
        height: 50px;
    }
    .circle{
        border-radius: 20px;
        margin-left: 10px; 
        height: 10px;
        width: 20px;
    }
}

@media only screen and (max-width: 767px) {
    .apoyo {
        padding-top: 20px;
    }
    .description-program {
        font-weight: 400;
        color: #424242;
        font-size: 10px;
    }
}

::ng-deep .parametersPanel .mat-expansion-panel-body {
    padding: 0;
}