.buttons-options {
    width: auto;
    text-align: center;
    border-radius: 5px;
 }
.header-row {
    display: flex; 
    align-items: center; 
    justify-content: space-between;
}
.title-expansion {
    margin-bottom: 0px;
    font-weight: 500;
}
span {
    padding-left: 20px;
}
