.example-container {
    height: auto;
    width: 100%;
    max-width: 100%;
    max-height: 300px;
    overflow: auto;
  }
  
  table {
    width: 100%;
  }
  
  /* td.mat-column-star {
    width: 20px;
    padding-right: 8px;
  } */
  
  th.mat-column-sem2, td.mat-column-sem2 {
    padding-left: 2px;
  }
  
  th.mat-column-sem4,
  td.mat-column-sem4 {
    padding-left: 2px;
  }
  
  .mat-table-sticky-border-elem-right {
    border-left: 1px solid #8b8b8c;
  }
  
  .mat-table-sticky-border-elem-left {
    border-right: 1px solid #8b8b8c;
  }
  
  .rect {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    color: white;
    margin-left: 1px;
    margin-right: 1px;
    font-size: 13px;
    padding-right: 5px;
    padding-left: 5px;
  }
  
  .header-cell {
    text-align: center;
    font-weight: 500;
    font-size: 15px;
    color: white;
    background-color: #3f51b5;
    border-left: 1px solid #8b8b8c;
    width: 50px !important;
  }
  
  .header-cell-resource {
    text-align: left;
    font-weight: 500;
    font-size: 13px;
    color: white;
    background-color: #3f51b5;
    border-right: 1px solid white;
    padding-left: 10px;
    width: 250px !important;
    min-width: 250px !important;
  }
  
  .text-cell {
    border-right: 1px solid #c4c4c4;
    font-size: 13px;
    padding-left: 10px;
  }
  
  .headers-date {
    background-color: #3f51b5;
  }
  
  .months {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid white;
    padding-bottom: 8px;
    padding-top: 8px;
    color: white;
    font-weight: 500;
  }
  
  .sems {
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    color: white;
    font-weight: 500;
  }
  
  .dedication {
    display: flex;
    justify-content: space-around;
    max-width: 100%;
  }
  
  .border {
    border-right: 1px solid white;
    border-left: 1px solid white;
  }
  
  .header-sem {
    width: 50%;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 5px;
  }
  
  .content-date {
    height: 100% !important;
    border-right: 1px solid white;
  }
  
  .text-bttns-sticky {
    font-weight: 600;
    font-size: 15px;
    color: #3f51b5;
  }
  
  .sticky-toggle-group {
    height: 35px !important;
    align-items: center;
    font-size: 14px;
    margin-left: 10px;
    margin-bottom: 10px;
  }
  
  .title-project {
    font-weight: 500;
  }
  
  /* .mat-table-sticky {
    background: #3f51b577;
    opacity: 1;
  } */
  