
<mat-toolbar color="primary" class="mat-elevation-z4">
    <h1 class="mat-headline">{{ data.labelAction }} {{ pluralOption }} </h1>
    <span class="example-spacer"></span>

    <button mat-icon-button mat-dialog-close *ngIf="showBtnClose">
      <mat-icon>close</mat-icon>
    </button>
</mat-toolbar>
  
<div class="example-container bg-color-white mat-elevation-z4">
  <form action="" [formGroup]="companiesGroup" (ngSubmit)="onSubmit()"
    *ngIf="data.mode === 'create' || (data.mode === 'edit' && company); else loadingBlock">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <mat-form-field class="full-width">
          <mat-label>{{ singularOption }}</mat-label>
          <input matInput formControlName="title" required>
          <mat-error *ngIf="this.companiesGroup.get('title')?.invalid">
            {{ getMessageError('title', "compañía") }}
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-sm-12 col-md-6">
        <mat-form-field class="full-width">
          <mat-label>Tipo de Compañía</mat-label>
          <mat-select formControlName="company_type_id" (click)="onClickSelectCompanyType()" required>
            <mat-option>Seleccione una opción</mat-option>
            <mat-option *ngFor="let companyType of selectCompanyType" [value]="companyType.id">{{ companyType.title }}</mat-option>
          </mat-select>
          <mat-error *ngIf="this.companiesGroup.get('company_type_id')?.invalid">
            {{ getMessageError('company_type_id', " tipo de compañía") }}
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-12">
        <mat-form-field class="full-width">
          <mat-label>Descripción</mat-label>
          <textarea matInput formControlName="description"></textarea>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-2">
        <mat-slide-toggle formControlName="is_active">Estado</mat-slide-toggle>
      </div>
    </div>

    <div class="buttons">
      <button class="button" mat-button color="primary" (click)="onReset()">Limpiar</button>
      <button class="button"
        mat-button color="primary"
        [disabled]="companiesGroup.invalid || fButtonDisabled">
          {{ data.mode == 'create' ? 'Crear' : 'Editar'}}
      </button>
    </div>
  </form>

  <ng-template #loadingBlock>
    <div class="row">
      <div class="col-12">
        <mat-spinner color="accent" class="content-center"></mat-spinner>
      </div>
    </div>
  </ng-template>

  <tecno-form-debug [form]="companiesGroup"></tecno-form-debug>
</div>
