.cont-table {
    position: relative;
    overflow: auto;
}

::ng-deep .mat-header-cell {
    min-width: 230px;
}
.top-buttons{
    display: flex;
    justify-content: flex-start;
    margin-top: 15px;
}