<div class="cards-container" *ngIf="dashboard.length > 0">
    <div style="display: flex; flex-direction: column; min-width: 450px;" *ngFor="let board of dashboard; index as i" f>
        <mat-card class="mat-elevation-z4">
            <mat-card-header  class="project" matRipple (click)="onVicepresindency(board.vice_presidency.id)">
                <mat-card-title class="txt-accent">{{board.vice_presidency.title}}</mat-card-title>          
            </mat-card-header>
            <mat-card-content>
    
                <mat-list>
                    <div *ngFor="let area of board.areas" >
                        <div *ngIf="area.projects != null">
                            <div mat-subheader class="txt-primary">{{area.area.title}}</div>
                            <div class="project" matRipple (click)="onProject(project.id)" *ngFor="let project of area.projects">
                                <mat-list-item >
                                    <mat-icon mat-list-icon>preview</mat-icon>
                                    <div mat-line>{{project.title}}</div>
                                    <div mat-line> {{project.states_by_phase.state.title}} - {{project.states_by_phase.phase.title}} </div>
                                </mat-list-item>
                            </div>
                        </div>
                    </div>
                  </mat-list>
                
            </mat-card-content>
        </mat-card>
    </div>
    
</div>

<div *ngIf="dashboard.length == 0" style="padding: 20px;">
    <h1 class="mat-title txt-accent">No hay datos registrados</h1>
    <div style="display: flex; align-items: center; font-size: larger;">
      <span style="padding-right: 5px;">Oprima el icono</span>
      <mat-icon class="txt-accent">add_circle</mat-icon>
      <span style="padding-left: 5px;">para agregar un nuevo registro</span>
    </div> 
</div> 
  
