.cards-container{
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: auto;
}
mat-card{
    min-width: 400px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.project{
    cursor: pointer;
}

.area{
    width: 100%;
}
mat-card-content{
    width: 100%;
}
