<div *ngIf="actions.read">
  <div class="container-fluid mt-30" *ngIf="dataTable.dataChart.length > 0; else elseBlock">
    <div class="row">
      <div class="col-sm-12 col-md-1 text-sm-start text-md-end"><strong>Estados</strong></div>
      <div class="col-sm-12 col-md-10" style="padding-left: 30px;">
        <div class="row border">
          <div class="row col-sm-12 col-md-2" *ngFor="let externalCompanyState of dataInitial.externalCompanyStates">
            <div class="traffic-light" [ngStyle]="{
              'background-color': externalCompanyState.color
            }"></div>
            <span style="padding-left: 5px;">{{ externalCompanyState.name }}</span>
          </div>
        </div>
      </div>
    </div>
  
    <div class="row mt-10">
      <div class="col-sm-12 col-md-1 text-sm-start text-md-end"><strong>Cronograma</strong></div>
      <div class="col-sm-12 col-md-10" style="padding-left: 30px;">
        <div class="row border">
          <div class="row col-sm-12 col-md-2" *ngFor="let externalCompanySchedule of dataInitial.externalCompanySchedules">
            <div class="status bg-feasibility" [ngStyle]="{
              'background-color': externalCompanySchedule.color
            }"></div>
            <span style="padding-left: 5px;">{{ externalCompanySchedule.name }}</span>
          </div>
          <!-- <div class="col-sm-12 col-md-2"><div class="status bg-planning"></div>Planeación</div>
          <div class="col-sm-12 col-md-2"><div class="status bg-pilot"></div>Piloto</div>
          <div class="col-sm-12 col-md-2"><div class="status bg-deployment"></div>Despliegue</div>
          <div class="col-sm-12 col-md-2"><div class="status bg-send-operation"></div>Paso a operación</div> -->
          <!-- <div class="col-sm-12 col-md-2"><div class="status bg-relate"></div></div> -->
          <!-- <div class="col-sm-12 col-md-2"><div class="status bg-backwardness"></div>Atraso</div> -->
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-12">
        <div [id]="id"
        [ngStyle]="{
          'width':  '' + width + '',
          'height': '' + 'auto' + ''
        }"
        [class]="chartClass">
      </div>
      </div>
    </div>
  </div>
  
  <ng-template #elseBlock>
    <mat-card class="mt-30">No hay información</mat-card>
  </ng-template>
  
  <!-- <mat-tab-group class="mt-50">
    <mat-tab *ngFor="let strategicGuideline of dataInitial.strategicGuidelines"
      [label]="strategicGuideline.name"
      (click)="getDataReport(strategicGuideline.id)" > -->
  
  
  
    <!-- </mat-tab>
  </mat-tab-group> -->
</div>
<div style="padding: 20px;" *ngIf="!actions.read">
  <h1 class="mat-title txt-accent">Acceso restringido</h1>
  <div style="display: flex; align-items: center; font-size: larger;">
    <span style="padding-left: 5px;">Solicite acceso al administrador</span>
  </div>
</div>
