<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-1 text-sm-start text-md-end"><strong>Estados</strong></div>
    <div class="col-sm-12 col-md-10">
      <div class="row border">
        <div class="col-sm-12 col-md-2"><div class="traffic-light bg-green"></div>Sin Riesgos</div>
        <div class="col-sm-12 col-md-2"><div class="traffic-light bg-yellow"></div>Con Riesgos</div>
        <div class="col-sm-12 col-md-2"><div class="traffic-light bg-red"></div>Atraso</div>
      </div>
    </div>
  </div>

  <div class="row mt-10">
    <div class="col-sm-12 col-md-1 text-sm-start text-md-end"><strong>Cronograma</strong></div>
    <div class="col-sm-12 col-md-10">
      <div class="row border">
        <div class="col-sm-12 col-md-2"><div class="status bg-feasibility"></div>Factibilidad</div>
        <div class="col-sm-12 col-md-2"><div class="status bg-planning"></div>Planeación</div>
        <div class="col-sm-12 col-md-2"><div class="status bg-pilot"></div>Piloto</div>
        <div class="col-sm-12 col-md-2"><div class="status bg-deployment"></div>Despliegue</div>
        <div class="col-sm-12 col-md-2"><div class="status bg-send-operation"></div>Paso a operación</div>
        <!-- <div class="col-sm-12 col-md-2"><div class="status bg-relate"></div></div> -->
        <div class="col-sm-12 col-md-2"><div class="status bg-backwardness"></div>Atraso</div>
      </div>
    </div>
  </div>
</div>

<div [id]="id"
  [ngStyle]="{
    'width':  '' + width + '',
    'height': '' + height + ''
  }"
  [class]="chartClass">
</div>
