.title-phase {
  font-weight: 500;
  font-size: 16px;
  align-self: center
}

.phases-content {
  padding-left: 20px;
}

.buttons{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}