<mat-toolbar color="primary" class="mat-elevation-z4">
    <h1 class="mat-headline">{{ data.labelAction }} {{ singularOption }} </h1>
    <span class="example-spacer"></span>
    
    <button mat-icon-button mat-dialog-close *ngIf="showBtnClose">
        <mat-icon>close</mat-icon>
    </button>
</mat-toolbar>
      
<div class="example-container bg-color-white">
    <form action="" [formGroup]="resourcesGroup"
        *ngIf="data.mode === 'create' || (data.mode === 'edit' && cargaProject == true)">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <mat-form-field class="full-width">
                <mat-label>Frente de Operación</mat-label>
                <mat-select formControlName="front" (click)="onClickSelectFront()" required>
                    <mat-option>Seleccione una opción</mat-option>
                    <mat-option *ngFor="let front of selectOperationFronst" [value]="front.id">{{ front.name }}</mat-option>
                </mat-select>
                <mat-error *ngIf="this.resourcesGroup.get('front')?.invalid">
                    {{ getMessageError('front', "frente de operación") }}
                </mat-error>
                </mat-form-field>
            </div>
            <div class="col-sm-12 col-md-6">
                <mat-form-field class="full-width">
                    <mat-label *ngIf="data.mode == 'create'">Agregar nuevo Recurso de Soporte</mat-label>
                    <mat-label *ngIf="(data.mode == 'edit')">
                        <span style="font-size: small;">Recurso de Soporte Actual: </span>
                        <span style="color: black;">{{supportResource.person!.full_name}}</span>
                    </mat-label>
                    <input *ngIf="data.mode == 'create'" type="text" matInput [formControl]="personControl" [matAutocomplete]="auto" required>
                    <input *ngIf="data.mode == 'edit'" type="text" matInput [formControl]="personControl" [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                        <mat-option *ngFor="let person of filterPersons | async" [value]="person">
                        {{person.full_name}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
        </div>

        <div class="buttons">
            <!-- <button class="button" mat-button color="primary" (click)="onReset()">Limpiar</button> -->
            <button class="button"
                mat-button color="primary"
                (click)="data.mode == 'create' ? createRegister() : updateRegister()"
                [disabled]="resourcesGroup.invalid || fButtonDisabled && personControl.value != null">
                {{ data.mode == 'create' ? 'Crear Recurso' : 'Editar Recurso'}}
            </button>
        </div>
    </form>

    <div class="row phases-content"  *ngIf="disablePhases">
        <tecno-phases-dedication class="phases-content" *ngFor="let phase of generalPhase"
            idResourceByPhase = {{phase.id_reg}}
            phaseTitle = {{phase.phase.title}}
            idPhase = {{phase.id}}
            idResource = {{idSupportResource}}
            [dedication] = phase.dedication
            description = {{phase.description}}
            flagMode = {{flagModeGeneral}}
            dedication = {{phase.idreg}}
        >
        </tecno-phases-dedication>
    </div>

    <div class="row" *ngIf="disablePhases && flagModeGeneral == 'create'">
        <button mat-button color="accent" (click)="onReset()">Parametrizar nuevo recurso</button>
    </div>

    <ng-template #loadingBlock>
        <div class="row">
          <div class="col-12">
            <mat-spinner color="accent" class="content-center"></mat-spinner>
          </div>
        </div>
    </ng-template>
</div>

<mat-spinner *ngIf="cargaProject == false" color="accent" class="content-center"></mat-spinner>