<!-- <div *ngIf="getRoute() =='/'" style="height: 100%">
  <router-outlet></router-outlet>
</div> -->
<!-- <div *ngIf="(getRoute() != '/' || true)" style="height: 100%;"> -->
<div class="main-container animate__animated animate__fadeIn" *ngIf="showToolbarSidenav; else elseBlock">
  <mat-toolbar color="primary" class="toolbar mat-elevation-z6">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <div routerLink="/home"
      (click)="onLink('/home')" >
      KOBA<span style="font-weight: 100;">Project </span>
    </div>
    <!-- <img src="../assets/images/logo_tecno_project_oscuros.png" alt="tecno_project"
      class=""
      routerLink="/home"
      height="80"> -->
    <span class="example-spacer"></span>
    <button mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with share icon"
      routerLink="/home"
      routerLinkActive="Active"
      (click)="onLink('/home')" >
      <mat-icon>home</mat-icon>
    </button>
    <button mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with share icon"
      (click)="logOut()">
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </mat-toolbar>

  <mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" class="menu-container" opened>
      <div class="profile-container">
        <!-- AVATAR -->
        <tecno-profile-circle [user]="user" [size]="110" class="avatar"></tecno-profile-circle>

        <!-- MENU PERFIL NOMBRE -->
        <div class="btn-profile" [matMenuTriggerFor]="afterMenu">
          {{ user.getPartialName() }}
        </div>
        <mat-menu #afterMenu="matMenu" xPosition="after">
          <button mat-menu-item>Item 1</button>
          <button mat-menu-item>Item 2</button>
        </mat-menu>
      </div>
      <!-- INICIO MENU -->
      <!-- --{{ menu }}-- -->
      <tecno-menu ></tecno-menu>

      <!-- FOOTER -->
      <footer class="footer">
        <mat-divider></mat-divider>
        <div class="footer-copyright text-center py-3">
          <span>© {{ currentYear }} Copyright:</span>
          <a href="http://tecno.co" target="_blank"> tecno.co</a>
        </div>
      </footer>
      <!-- FIN MENU -->
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="page-container">
        <!-- header de titulo, descripcion y botones -->
        <tecno-info-page class="info-page" [fShowLoading]="fShowLoading"></tecno-info-page>
        <mat-progress-bar
          mode="indeterminate"
          color="accent"
          class="loading"
          *ngIf="fShowLoading">
        </mat-progress-bar>

        <router-outlet>
          <!-- <mat-progress-bar mode="query" class="loading" *ngIf="loading" ></mat-progress-bar> -->
        </router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<ng-template #elseBlock>
  <router-outlet>
    <mat-progress-bar
      mode="indeterminate"
      color="accent"
      class="loading"
      *ngIf="fShowLoading">
    </mat-progress-bar>
  </router-outlet>
</ng-template>



<!-- <mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-menu" mode="side" position="start" opened>
    <div class="profile-container">
      <div class="btn-profile" [matMenuTriggerFor]="afterMenu">
        Leonardo Rodriguez
      </div>
      <mat-menu #afterMenu="matMenu" xPosition="after">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>
    </div>


  </mat-drawer>

  <div class="example-menu-content">
    <router-outlet></router-outlet>
  </div> -->

<!-- </mat-drawer-container> -->
