<mat-toolbar color="primary" class="mat-elevation-z4">
    <h1 class="mat-headline">{{ data.labelAction }} {{ singularOption }} </h1>
    <span class="example-spacer"></span>
    
    <button mat-icon-button mat-dialog-close *ngIf="showBtnClose">
        <mat-icon>close</mat-icon>
    </button>
</mat-toolbar>
      
<div class="example-container bg-color-white">
    <div *ngIf="data.mode === 'create' || (data.mode === 'edit' && cargaProject == true)" class="row phases-content">
        
        <div class="row" style="padding-bottom: 20px;">
            <mat-label *ngIf="(data.mode == 'edit')" class="txt-accent content-title">
                <span>{{data.type_resource}}: </span>
                <span class="txt-primary">{{currentResource}}</span>
            </mat-label>
        </div>

        <div class="buttons" *ngIf="!disablePerson">
            <button class="button"
                mat-button color="primary"
                (click)="data.mode == 'create' ? createRegister() : updateRegister()"
                [disabled]="fButtonDisabled && personControl.value != null">
                {{ data.mode == 'create' ? 'Crear Recurso' : 'Editar Recurso'}}
            </button>
        </div>
    </div>

    <div class="row phases-content"  *ngIf="disablePhases">
        <tecno-phases-dedication-comite class="phases-content" *ngFor="let phase of generalPhase"
            idResourceByPhase = {{phase.id_reg}}
            phaseTitle = {{phase.phase.title}}
            idPhase = {{phase.id}}
            idResource = {{idSupportResource}}
            dedication = {{phase.dedication}}
            flagMode = {{flagModeGeneral}}
            type_resource = {{data.type_resource}}
        >
        </tecno-phases-dedication-comite>
    </div>

    <div class="row" *ngIf="disablePhases && flagModeGeneral == 'create'">
        <button mat-button color="accent" (click)="onReset()">Parametrizar nuevo recurso</button>
    </div>

    <ng-template #loadingBlock>
        <div class="row">
          <div class="col-12">
            <mat-spinner color="accent" class="content-center"></mat-spinner>
          </div>
        </div>
    </ng-template>
</div>

<mat-spinner *ngIf="cargaProject == false" color="accent" class="content-center"></mat-spinner>