<div class="row">
    <h3 class="mat-title col-sm-12 col-md-12 txt-accent">Areas Participantes</h3>
</div>
<div class="row">
    <mat-form-field class="col-sm-12 col-md-6">
        <mat-label>Areas Participantes</mat-label>
        <mat-select [formControl]="areasForm" (selectionChange)="onChangeSelect()"  multiple>
            <mat-optgroup *ngFor="let vicepresidency of options" [label]="vicepresidency.title">
                
                  <mat-option *ngFor="let area of vicepresidency.areas" [value]="area.id">{{area.title}}</mat-option>
                
            </mat-optgroup>
        </mat-select>
    </mat-form-field>
    <mat-chip-list aria-label="Fish selection" class="col-sm-12 col-md-6">
        <mat-chip
            color="primary"
            selected
            *ngFor="let area of areasSelected"
            [removable]="true"
            (removed)="remove(area.id)">
            {{area.vicepresidencyTitle}} - {{area.title}}
            <mat-icon matChipRemove >cancel</mat-icon>
        </mat-chip>
    </mat-chip-list>
</div>