<div class="m-24">
  <h2 class="txt-primary">Confirmación para pasar a productos entregados</h2>
  <div class="row" style="max-width: 100%;">
    <span class="title">Descripción: </span>
    <span class="description">{{infoProduct.description}}</span>

    <span class="title">Fecha: </span>
    <span class="description">{{infoProduct.date}}</span>
  </div>

  <div mat-dialog-actions style="justify-content: flex-end;">
      <button mat-button class="txt-primary" (click)="onNoClick()">Cancelar</button>
      <button mat-button color="primary" (click)="onSiClick()">Pasar a Productos Entregados</button>
  </div>
</div>
