
<mat-toolbar color="primary" class="mat-elevation-z4">
    <h1 class="mat-headline">{{ data.labelAction }} {{ singularOption }} </h1>
    <span class="example-spacer"></span>

    <button mat-icon-button mat-dialog-close *ngIf="showBtnClose">
      <mat-icon>close</mat-icon>
    </button>
</mat-toolbar>
  
<div class="example-container bg-color-white mat-elevation-z4">
  <form action="" [formGroup]="usersGroup" (ngSubmit)="onSubmit()"
    *ngIf="data.mode === 'create' || (data.mode === 'edit' && user); else loadingBlock">
    
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <mat-form-field class="full-width">
          <mat-label>Nombre</mat-label>
          <input matInput formControlName="first_name" required>
          <mat-error *ngIf="this.usersGroup.get('first_name')?.invalid">
            {{ getMessageError('first_name', "nombre") }}
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-sm-12 col-md-6">
        <mat-form-field class="full-width">
          <mat-label>Apellido</mat-label>
          <input matInput formControlName="last_name" required>
          <mat-error *ngIf="this.usersGroup.get('last_name')?.invalid">
            {{ getMessageError('last_name', "apellido") }}
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-6">
        <mat-form-field class="full-width">
          <mat-label>Correo</mat-label>
          <input matInput formControlName="email" required>
          <mat-error *ngIf="this.usersGroup.get('email')?.invalid">
            {{ getMessageError('email', "correo") }}
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-sm-12 col-md-6">
        <mat-form-field class="full-width">
          <mat-label>Horas de trabajo semanal</mat-label>
          <input matInput [min]="0" [max]="40" type="number" formControlName="semanal_hours" required>
          <mat-error *ngIf="this.usersGroup.get('semanal_hours')?.invalid">
            {{ getMessageError('semanal_hours', "horas semanales") }}
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-6">
        <mat-form-field class="full-width">
          <mat-label>Cargo en la compañía</mat-label>
          <mat-select formControlName="job_id" (click)="onClickSelectJob()" required>
            <mat-option>Seleccione una opción</mat-option>
            <mat-option *ngFor="let job of selectJobs" [value]="job.id">{{ job.name }}</mat-option>
          </mat-select>
          <mat-error *ngIf="this.usersGroup.get('job_id')?.invalid">
            {{ getMessageError('job_id', " cargo en la compañía") }}
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-sm-12 col-md-6">
        <mat-form-field class="full-width">
          <mat-label>Perfíl en el aplicativo</mat-label>
          <mat-select formControlName="profile_id" (click)="onClickSelectProfile()" required>
            <mat-option>Seleccione una opción</mat-option>
            <mat-option *ngFor="let profile of selectProfiles" [value]="profile.id">{{ profile.name }}</mat-option>
          </mat-select>
          <mat-error *ngIf="this.usersGroup.get('profile_id')?.invalid">
            {{ getMessageError('profile_id', " perfíl en el aplicativo") }}
          </mat-error>
        </mat-form-field>
      </div>  
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-12">
        <mat-slide-toggle formControlName="is_active">Estado</mat-slide-toggle>
      </div>
    </div>

    <div class="buttons">
      <button class="button" mat-button color="primary" (click)="onReset()">Limpiar</button>
      <button class="button"
        mat-button color="primary"
        [disabled]="usersGroup.invalid || fButtonDisabled">
          {{ data.mode == 'create' ? 'Crear' : 'Editar'}}
      </button>
    </div>
  </form>

  <ng-template #loadingBlock>
    <div class="row">
      <div class="col-12">
        <mat-spinner color="accent" class="content-center"></mat-spinner>
      </div>
    </div>
  </ng-template>

  <tecno-form-debug [form]="usersGroup"></tecno-form-debug>
</div>
