.row{
    margin-bottom: 5px;
    max-width: 100%;
    padding-left: 15px;
}
mat-card{
    background-color: #F8F8F8;
}
.card-content {
    display: flex; 
    align-items: center; 
    justify-content: space-between;
}
.texto{
    display: flex; 
    flex-wrap: wrap;
    max-width: 95%;
}

.delete {
    cursor:pointer;
}

.button {
    margin-left: 40px;
}

.date-button {
    display: flex;
    min-width: 450px!important;
    justify-content: space-between;
}


.text-conten {
    display: flex;
    width: 100%;
    flex-wrap: "wrap";
    word-wrap: "break-word"
}