<div class="row" style="margin-bottom: -5px">
    <h3 class="mat-title col-sm-12 col-md-12 {{titleClass}}" style="font-weight: 500;">{{name}}</h3>
</div>
<div class="row">
    <mat-form-field class="col-sm-12 col-md-8">
        <mat-label>Añadir {{name}}</mat-label>
        <textarea matInput [(ngModel)]="inpuText"></textarea>
            
    </mat-form-field>
    <mat-form-field class="col-sm-12 col-md-3">
        <mat-label>Fecha {{name}}</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="datePicker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <div class="button col-sm-12 col-md-1">
        <button 
            (click)="add()"
            [disabled] = "!(inpuText && datePicker)"
            mat-mini-fab color="primary"
            matSuffix mat-icon-button aria-label="Clear">
                <mat-icon>add</mat-icon>
        </button>
    </div>
    
</div>

<div class="row" *ngFor="let item of items; index as i">
    <mat-card class="col-sm-12 col-md-12">
        <div class="card-content">
            <div class="text-conten">
                <span style="font-weight: 500">{{i+1}}.
                    <span style="font-weight: 400">{{item.description}}</span>
                </span>
            </div>
            <div class="date-button">
                <span style="font-weight: 500">Fecha:
                    <span style="font-weight: 400">{{item.date}}</span>
                </span>
                <mat-icon color="warn" (click)="delete(i)" matRipple class="delete">delete</mat-icon>
            </div>
        </div>
    </mat-card>
</div>