<mat-toolbar color="primary" class="mat-elevation-z4">
  <h1 class="mat-headline">{{ data.labelAction }} {{ singularOption }} </h1>
  <span class="example-spacer"></span>

  <button mat-icon-button mat-dialog-close *ngIf="showBtnClose">
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>

<div class="example-container bg-color-white mat-elevation-z4">
  <form action="" [formGroup]="valoremGroup"  class="dialog-scroll" (ngSubmit)="onSubmit()"
  *ngIf="data.mode === 'create' || (data.mode === 'edit' && valorem); else loadingBlock">

    <div class="row">
      <div class="col-sm-12 col-md-6">
        <mat-form-field class="full-width">
          <mat-label>Estado</mat-label>
          <mat-select formControlName="valorem_state_id" (click)="onClickSelectStatusValorem()" required>
            <mat-option *ngFor="let valoremState of selectStatusValorem" [value]="valoremState.id">{{ valoremState.title }}</mat-option>
          </mat-select>
          <mat-error *ngIf="this.valoremGroup.get('valorem_state_id')?.invalid">
            {{ getMessageError('valorem_state_id', " estado") }}
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-sm-12 col-md-6">
        <mat-form-field class="full-width">
          <mat-label>Cronograma</mat-label>
          <mat-select formControlName="valorem_schedule_id" (click)="onClickSelectScheduleValorem()" required>
            <mat-option *ngFor="let companyType of selectScheduleValorem" [value]="companyType.id">{{ companyType.title }}</mat-option>
          </mat-select>
          <mat-error *ngIf="this.valoremGroup.get('valorem_schedule_id')?.invalid">
            {{ getMessageError('valorem_schedule_id', " cronograma") }}
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-6">
        <mat-form-field
        class="full-width">
            <mat-label>{{labels.startDate}}</mat-label>
            <input matInput required [matDatepicker]="picker1" formControlName="start_date">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
            <mat-error *ngIf="this.valoremGroup.get('start_date')?.invalid">
              {{ getMessageError('start_date', " fecha de inicio") }}
            </mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-12 col-md-6">
        <mat-form-field
        class="full-width">
            <mat-label>{{labels.dueDate}}</mat-label>
            <input matInput required [matDatepicker]="picker2" formControlName="due_date">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
            <mat-error *ngIf="this.valoremGroup.get('due_date')?.invalid">
              {{ getMessageError('due_date', " fecha de finalización") }}
            </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-12">
        <mat-form-field
            class="full-width"
            style="width: 100%;">
            <mat-label>{{labels.statusDetail}}</mat-label>
            <input matInput placeholder="{{labels.statusDetail}}" formControlName="status_details" required>
            <mat-error *ngIf="this.valoremGroup.get('status_details')?.invalid">
              {{ getMessageError('status_details', " detalle de estado") }}
            </mat-error>
        </mat-form-field>
      </div>
    </div>

    <mat-divider></mat-divider>
    <br>
    <tecno-text-list-date class="external-component" name="Productos Entregados" (emitChange)="onProductDelivered($event)"></tecno-text-list-date>

    <mat-divider></mat-divider>
    <br>
    <tecno-text-list-date class="external-component" name="Productos por Entregar" (emitChange)="onProductDelivered($event)"></tecno-text-list-date>

    <mat-divider></mat-divider>
    <br>
    <tecno-text-list-date class="external-component" name="Productos Atrasados" (emitChange)="onProductDelivered($event)"></tecno-text-list-date>


    <div class="buttons">
      <button class="button" mat-button color="primary" (click)="onReset()">Limpiar</button>
      <button class="button"
        mat-button color="primary"
        [disabled]="valoremGroup.invalid || fButtonDisabled">
          {{ data.mode == 'create' ? 'Crear' : 'Editar'}}
      </button>
    </div>
    
  </form>



  <ng-template #loadingBlock>
    <div class="row">
      <div class="col-12">
        <mat-spinner color="accent" class="content-center"></mat-spinner>
      </div>
    </div>
  </ng-template>
  
</div>