.row{
    margin-bottom: 5px;
    max-width: 100%;
}
mat-card{
    background-color: #F8F8F8;
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.card-content {
    display: flex; 
    align-items: center; 
    justify-content: space-between;
}
.texto{
    display: flex; 
    flex-wrap: wrap;
    word-wrap: break-word;
    max-width: 95%;
}

.delete {
    cursor:pointer;
}

.edit {
    margin-right: 50px;
    cursor:pointer;
}