<mat-tab-group (selectedTabChange)="tabChanged($event)" style="overflow-x: hidden !important;">
    <mat-tab label="Recursos Portafolio" style="overflow-x: hidden !important;">
        <div class="phases-content">
            <span class="text-sub">Fases:</span>
            <div *ngFor="let phase of phases" class="label-rect-content-phase">
                <div class="phases-rect" [ngStyle]="{'background-color': phase.color}"></div>
                <span class="phases-name">{{phase.name}}</span>    
            </div>
        </div>
        
        <div class="filter-content">
            <span class="text-sub">Filtros:</span>
            <!-- <<<<<<<<<<< FILTROS >>>>>>>>>>> -->
            <form [formGroup]="filtersGroup" class="row filters">
                <mat-form-field class="col-sm-12 col-md-2">
                    <mat-label>Proyecto</mat-label>
                    <input type="text" matInput [formControl]="projectsControl" [matAutocomplete]="projects">
                    <mat-autocomplete #projects="matAutocomplete" [displayWith]="displayProject">
                        <mat-option *ngFor="let project of filterProjects | async" [value]="project">
                        {{project.title}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                
                <!-- <mat-form-field class="col-sm-12 col-md-2">
                    <mat-label>Área</mat-label>
                    <mat-select formControlName="areas" multiple>
                        <mat-option *ngFor="let area of areasFilter; index as i" [value]="i+1">{{area.title}}</mat-option>
                    </mat-select>
                </mat-form-field> -->

                <mat-form-field class="col-sm-12 col-md-2">
                    <mat-label>Área</mat-label>
                    <input type="text" matInput [formControl]="areasControl" [matAutocomplete]="areas">
                    <mat-autocomplete #areas="matAutocomplete" [displayWith]="displayAreas">
                        <mat-option *ngFor="let area of filterAreas | async" [value]="area">
                        {{area.title}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
        
                <mat-form-field class="col-sm-12 col-md-2">
                    <mat-label>Recurso</mat-label>
                    <input type="text" matInput [formControl]="resourcesControl" [matAutocomplete]="resources">
                    <mat-autocomplete #resources="matAutocomplete" [displayWith]="displayResources">
                        <mat-option *ngFor="let resource of filterResources | async" [value]="resource">
                        {{resource.full_name}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
        
                <mat-form-field appearance="legacy" class="col-sm-12 col-md-2">
                    <mat-label>Rango de fecha</mat-label>
                    <mat-date-range-input [rangePicker]="picker">
                        <input matStartDate formControlName="start_date" placeholder="Fecha Inicio">
                        <input matEndDate formControlName="end_date" placeholder="Fecah Fin">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                    <!-- <mat-error *ngIf="this.filtersGroup.get('start_date')?.invalid">
                        {{ getMessageError(filtersGroup ,'start_date') }}
                    </mat-error>
                    <mat-error *ngIf="this.filtersGroup.get('end_date')?.invalid">
                        {{ getMessageError(filtersGroup ,'end_date') }}
                    </mat-error> -->
                </mat-form-field>
        
                <div class="buttons-content col-sm-12 col-md-2">
                    <button mat-raised-button class="button-filter" color="primary" (click)="filterResorucePortfolio()">{{labelButton.filter}}</button>
                    <button mat-raised-button class="button-filter" color="accent" (click)="removeFilterResourcePortfolio()">{{labelButton.remove}}</button>
                </div>
            </form>    
            <!-- <<<<<<<<<<< FILTROS >>>>>>>>>>> -->
        </div>
        
        <div class="table-time-line" *ngFor="let data of tableTimeLine">
            <tecno-table-time-line
                [generalData]=data
                [tab]=1
            ></tecno-table-time-line>
        </div>
    </mat-tab>


    <mat-tab label="Analítica">
        <div class="filter-content-analitycs">
            <span class="text-sub">Filtros:</span>
            <!-- <<<<<<<<<<< FILTROS >>>>>>>>>>> -->
            <div class="row filters">
                <mat-form-field class="col-sm-12 col-md-2" (click)="viceSelect()">
                    <mat-label>Vicepresidencia</mat-label>
                    <input type="text" matInput [formControl]="vicepresidencyControl" [matAutocomplete]="vicepresidency">
                    <mat-autocomplete #vicepresidency="matAutocomplete" [displayWith]="displayVicepresidency">
                        <mat-option *ngFor="let vicepresidency of filterVicepresidency | async" [value]="vicepresidency">
                        {{vicepresidency.title}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>

                <mat-form-field class="col-sm-12 col-md-2" (click)="areasSelect()">
                    <mat-label>Área</mat-label>
                    <input type="text" matInput [formControl]="areasControl2" [matAutocomplete]="areas2">
                    <mat-autocomplete #areas2="matAutocomplete" [displayWith]="displayAreas">
                        <mat-option *ngFor="let area of filterAreas2 | async" [value]="area">
                        {{area.title}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>

                <mat-form-field class="col-sm-12 col-md-2" (click)="projectsSelect()">
                    <mat-label>Proyecto</mat-label>
                    <input type="text" matInput [formControl]="projectsControl2" [matAutocomplete]="projects2">
                    <mat-autocomplete #projects2="matAutocomplete" [displayWith]="displayProject">
                        <mat-option *ngFor="let project of filterProjects2 | async" [value]="project">
                        {{project.title}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                
        
                <div class="buttons-content col-sm-12 col-md-2">
                    <button mat-raised-button class="button-filter" color="primary" (click)="filterAnalitycs()">{{labelButton.filter}}</button>
                    <button mat-raised-button class="button-filter" color="accent" (click)="removeFilterAnalitycs()">{{labelButton.remove}}</button>
                </div>
            </div>    
            <!-- <<<<<<<<<<< FILTROS >>>>>>>>>>> -->
        </div>


        <div style="padding-top: 40px;">
            <span class="title-analitycs txt-accent">Ocupación de recursos fuera del área encargada del proyecto</span>
            
            <mat-card class="general-content" style="margin-top: 20px;">
                <span class="col-sm-12 col-md-3 txt-primary title-out-areas">Proyecto</span>
                <span class="col-sm-12 col-md-3 txt-primary title-out-areas">Vicepresidencia</span>
                <span class="col-sm-12 col-md-3 txt-primary title-out-areas">Área</span>
                <span class="col-sm-12 col-md-3 txt-primary title-out-areas">Recursos fuera del área encargada</span>
            </mat-card>

            <div class="mat-elevation-z1 content-info-out-area">
                <mat-expansion-panel *ngFor="let data of dataResourceOutArea; index as i " class="mat-elevation-z0" style="border-radius: 0px;">
                    <mat-expansion-panel-header class="col-sm-12 col-md-12" style="padding-left: 0px;">
                        <mat-panel-title class="col-sm-12 col-md-3 title-panel">{{data.infoGeneral.projectName}}</mat-panel-title>
    
                        <mat-panel-description class="col-sm-12 col-md-9">
                            <span class="col-sm-12 col-md-4" style="color: black">{{data.infoGeneral.vicepresidency}}</span>
                            <span class="col-sm-12 col-md-4" style="color: black;">{{data.infoGeneral.area}}</span>
                            <span class="col-sm-12 col-md-4" style="color: black;">{{data.infoGeneral.resources}}</span>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
    
                    <tecno-dynamic-table style="width: 90%;"
                        [objectsData]="data.infoTable"
                        emptyText="Ingrese datos">
                    </tecno-dynamic-table>
                </mat-expansion-panel>
            </div>

            <mat-paginator class="txt-primary paginator"
                [length]="length"
                [pageSize]="pageSize"
                [pageSizeOptions]="pageSizeOptions"
                (page)="paginator($event)">
            </mat-paginator>
        </div>

        <div style="padding-top: 40px;">
            <span class="title-analitycs txt-accent">Top 10 Recursos más ocupados</span>
            <div class="phases-content">
                <span class="text-sub">Convenciones porcentaje de ocupación:</span>
                <div *ngFor="let convention of conventions" class="label-rect-content-phase">
                    <div class="phases-rect" [ngStyle]="{'background-color': convention.color}"></div>
                    <span class="phases-name">{{convention.name}}</span>    
                </div>
            </div>

            <div class="table-time-line" *ngFor="let data of tableTop10Ocupation">
                <tecno-table-time-line
                    [generalData]=data
                    [tab]=2
                ></tecno-table-time-line>
            </div>
        </div>

        <div style="padding-top: 40px;">
            <span class="title-analitycs txt-accent">Top 5 áreas con más recursos involucrados</span>
            
        </div>
    </mat-tab>
</mat-tab-group>