.text-sub {
  font-weight: 600;
  font-size: 15px;
  color: #3f51b5;
  display: flex;
  align-items: center;
  padding-bottom: 5px;
}

.phases-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 40px;
  margin-bottom: 30px;
}

.phases-rect {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 18px;
  border-radius: 5px;
  margin-left: 5px;
  margin-right: 3px;
}

.phases-name {
  font-size: 14px;
  padding-left: 5px;
}

.label-rect-content-phase {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  margin-right: 10px;
}

.filter-content {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.button-filter{
  min-width: auto;
  max-height: 35px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 10px;
  align-items: center;
}

.filters {
  display: flex;
  flex-direction: row;
  margin-left: 5px;
  width: 100%;
}

.buttons-content {
  display: flex;
  flex-direction: row;
}

.table-time-line {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

::ng-deep .mat-tab-body-content {
  overflow: hidden !important;
}

.title-analitycs {
  font-size: 20px;
  font-weight: 500;
}

.filter-content-analitycs {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}

.general-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.title-out-areas {
  font-size: 15px;
  font-weight: 500;
}

.title-panel {
  color: black;
  padding-left: 15px;
}

.content-info-out-area {
  overflow-y: auto;
  margin-top: 5px;
  border-radius: 5px;
}

.paginator {
  margin-top: 10px;
  background-color: #fafafa;
}