<mat-toolbar color="primary" style="border-top-left-radius: 5px; border-top-right-radius: 5px;" class="mat-elevation-z4">
    <h1 class="mat-headline"> {{ data.mode == 'create'? 'Crear Proyecto' : 'Editar Proyecto' }} </h1>
    <span class="example-spacer"></span>
    <button mat-icon-button mat-dialog-close>
    <mat-icon>close</mat-icon>
    </button>
</mat-toolbar>

<mat-horizontal-stepper linear #stepper>
    <mat-step [stepControl]="general" [editable]="true">
        <form [formGroup]="general" style="width: 100%;">
            <ng-template matStepLabel>General</ng-template>
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <h3 class="mat-title txt-accent">Aspectos generales</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <mat-form-field
                        class="full-width"
                        style="width: 100%;">
                        <mat-label>{{labels.title}}</mat-label>
                        <input matInput placeholder="{{labels.title}}" formControlName="title" required>
                        <mat-error *ngIf="this.general.get('title')?.invalid">
                            {{ getMessageError(general ,'title') }}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-12 col-md-4">
                    <mat-form-field
                        class="full-width">
                        <mat-select required (openedChange)="_openVicePresidencies($event)" formControlName="vicePresidencies">
                            <mat-option>-- None --</mat-option>
                            <mat-option *ngFor="let vicePresidency of vicePresidencies" [value]="vicePresidency.id" >{{vicePresidency.title}}</mat-option>
                        </mat-select>
                        <mat-label>{{labels.vicePresidencies}}</mat-label>
                        <mat-error *ngIf="this.general.get('vicePresidencies')?.invalid">
                            {{ getMessageError(general ,'vicePresidencies') }}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-12 col-md-4">
                    <mat-form-field
                        class="full-width">
                        <mat-select required (openedChange)="_openAreas($event)" formControlName="areas">
                            <mat-option>-- None --</mat-option>
                            <mat-option *ngFor="let area of areas" [value]="area.id" >{{area.title}}</mat-option>
                        </mat-select>
                        <mat-label>{{labels.areas}}</mat-label>
                        <mat-error *ngIf="this.general.get('areas')?.invalid">
                            {{ getMessageError(general ,'areas') }}
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <mat-form-field
                        class="full-width">
                        <mat-select required (openedChange)="_openStrategicApproaches($event)" formControlName="strategicApproaches">
                            <mat-option>-- None --</mat-option>
                            <mat-option *ngFor="let strategicApproach of strategicApproaches" [value]="strategicApproach.id" >{{strategicApproach.title}}</mat-option>
                        </mat-select>
                        <mat-label>{{labels.strategicApproaches}}</mat-label>
                        <mat-error *ngIf="this.general.get('strategicApproaches')?.invalid">
                            {{ getMessageError(general ,'strategicApproaches') }}
                        </mat-error>
                    </mat-form-field>
                </div>
        
                <div class="col-sm-12 col-md-4">
                    <mat-form-field
                    class="full-width">
                        <mat-label>{{labels.receptionDate}}</mat-label>
                        <input matInput required [matDatepicker]="picker" formControlName="receptionDate">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <mat-error *ngIf="this.general.get('receptionDate')?.invalid">
                            {{ getMessageError(general ,'receptionDate') }}
                        </mat-error>
                    </mat-form-field>
                </div>
        
                <div class="col-sm-12 col-md-4">
                    <mat-form-field
                        class="full-width">
                        <mat-select (openedChange)="_openPrograms($event)" formControlName="programs">
                            <mat-option>-- None --</mat-option>
                            <mat-option *ngFor="let program of programs" [value]="program.id" >{{program.title}}</mat-option>
                        </mat-select>
                        <mat-label>{{labels.programs}}</mat-label>
                        <mat-error *ngIf="this.general.get('programs')?.invalid">
                            {{ getMessageError(general ,'programs') }}
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </form>
        <div class="buttons">
            <button class="button" mat-button color="primary" (click)="onReset(general)">Limpiar</button>
            <button class="button"
            (click)="nextSpecific(stepper, general)"
            mat-button color="primary"
            [disabled]="general.invalid || fButtonDisabled">
                Siguiente
            </button>
        </div>
    </mat-step>

    <mat-step [stepControl]="descripcion" [editable]="true">
        <form [formGroup]="descripcion" class="step-scroll">
            <ng-template matStepLabel>Descripción Proyecto</ng-template>
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <h3 class="mat-title txt-accent">Descripción General</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <mat-form-field
                    class="full-width">
                        <mat-select required (openedChange)="_openPriorities($event)" formControlName="priorities">
                            <mat-option>-- None --</mat-option>
                            <mat-option *ngFor="let priority of priorities" [value]="priority.id">{{priority.title}}</mat-option>
                        </mat-select>
                        <mat-label>{{labels.priorities}}</mat-label>
                        <mat-error *ngIf="this.descripcion.get('priorities')?.invalid">
                            {{ getMessageError(descripcion ,'priorities') }}
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-sm-12 col-md-4">
                    <mat-form-field
                    class="full-width">
                        <mat-select required (openedChange)="_openTypifications($event)" formControlName="typifications">
                            <mat-option>-- None --</mat-option>
                            <mat-option *ngFor="let typification of typifications" [value]="typification.id">{{typification.title}}</mat-option>
                        </mat-select>
                        <mat-label>{{labels.typifications}}</mat-label>
                        <mat-error *ngIf="this.descripcion.get('typifications')?.invalid">
                            {{ getMessageError(descripcion ,'typifications') }}
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-sm-12 col-md-4">
                    <mat-form-field
                    class="full-width">
                        <mat-select (openedChange)="_openStrategicGuidelines($event)" formControlName="strategicGuidelines">
                            <mat-option>-- None --</mat-option>
                            <mat-option *ngFor="let strategicGuideline of strategicGuidelines" [value]="strategicGuideline.id">{{strategicGuideline.name}}</mat-option>
                        </mat-select>
                        <mat-label>{{labels.strategicGuidelines}}</mat-label>
                        <mat-error *ngIf="this.descripcion.get('strategicGuidelines')?.invalid">
                            {{ getMessageError(descripcion ,'strategicGuidelines') }}
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <mat-form-field class="field-full" style="width: 100%;" >
                        <mat-label>{{labels.projectDescription}}</mat-label>
                        <textarea matInput
                            formControlName="projectDescription"
                            placeholder="Ingrese una descripción del proyecto"
                        required></textarea>
                        <mat-error *ngIf="this.descripcion.get('projectDescription')?.invalid">
                            {{ getMessageError(descripcion ,'projectDescription') }}
                        </mat-error>
                    </mat-form-field>
                </div>        
            </div>
            <mat-divider></mat-divider>

            <tecno-text-list class="external-component" name="Beneficios" [items]="benefits" (emitChange)="onBenefits($event)"></tecno-text-list>
               
            <mat-divider></mat-divider>
        

            <div class="row">
                <div class="col-sm-12 col-md-8">
                    <h3 class="mat-title txt-accent">Gestión</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-8">
                    <mat-form-field
                    class="full-width">
                        <mat-select required (openedChange)="_openLeads($event)" formControlName="leads">
                            <mat-option>-- None --</mat-option>
                            <mat-option *ngFor="let lead of leads" [value]="lead.id">{{lead.first_name}} {{lead.last_name}}</mat-option>
                        </mat-select>
                        <mat-label>{{labels.leads}}</mat-label>
                        <mat-error *ngIf="this.descripcion.get('leads')?.invalid">
                            {{ getMessageError(descripcion ,'leads') }}
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-sm-12 col-md-4">
                    <mat-form-field
                    class="full-width">
                        <mat-select required (openedChange)="_openManagements($event)" formControlName="managements">
                            <mat-option>-- None --</mat-option>
                            <mat-option *ngFor="let management of managements" [value]="management.id">{{management.title}}</mat-option>
                        </mat-select>
                        <mat-label>{{labels.managements}}</mat-label>
                        <mat-error *ngIf="this.descripcion.get('management')?.invalid">
                            {{ getMessageError(descripcion ,'management') }}
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <mat-divider></mat-divider>
           
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <h3 class="mat-title txt-accent">PMO</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <mat-form-field
                    class="full-width">
                        <mat-select required (openedChange)="_openPMOS($event)" formControlName="pmos">
                            <mat-option>-- None --</mat-option>
                            <mat-option *ngFor="let pmo of pmos" [value]="pmo.id">{{pmo.first_name}} {{pmo.last_name}}</mat-option>
                        </mat-select>
                        <mat-label>{{labels.pmos}}</mat-label>
                        <mat-error *ngIf="this.descripcion.get('pmos')?.invalid">
                            {{ getMessageError(descripcion ,'pmos') }}
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <mat-form-field
                        class="full-width"
                        style="width: 100%;">
                        <input matInput [min]="0" [max]="40" type="number" placeholder="{{labels.pmoHours}}" formControlName="pmoHours" required>
                        <mat-label>{{labels.pmoHours}}</mat-label>
                        <mat-error *ngIf="this.descripcion.get('pmoHours')?.invalid">
                            {{ getMessageError(descripcion ,'pmoHours') }}
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-sm-12 col-md-6">
                    <mat-form-field
                        class="full-width"
                        style="width: 100%;">
                        <input matInput [min]="0" [max]="59" type="number" placeholder="{{labels.pmoMinutes}}" formControlName="pmoMinutes" required>
                        <mat-label>{{labels.pmoMinutes}}</mat-label>
                        <mat-error *ngIf="this.descripcion.get('pmoMinutes')?.invalid">
                            {{ getMessageError(descripcion ,'pmoMinutes') }}
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <mat-divider></mat-divider>

            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <h3 class="mat-title txt-accent">PMO de apoyo</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-8">
                    <mat-form-field
                    class="full-width">
                        <mat-select  
                        (openedChange)="_openPMOAssists($event)" 
                        formControlName="pmoAssists">
                        <!-- cambio  -->
                            <mat-option>-- None --</mat-option>
                            <mat-option *ngFor="let pmoAssist of pmoAssists" [value]="pmoAssist.id">{{pmoAssist.first_name}} {{pmoAssist.last_name}}</mat-option>
                        </mat-select>
                        <mat-label>{{labels.pmoAssists}}</mat-label>
                        <mat-error *ngIf="this.descripcion.get('pmoAssists')?.invalid">
                            {{ getMessageError(descripcion ,'pmoAssists') }}
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-sm-12 col-md-4">
                    <mat-form-field
                    class="full-width">
                        <mat-select  
                        (openedChange)="_openStages($event)" 
                        formControlName="stages" 
                        required >
                            <mat-option>-- None --</mat-option>
                            <mat-option *ngFor="let stage of stages" [value]="stage.id">{{stage.title}}</mat-option>
                        </mat-select>
                        <mat-label>{{labels.stages}}</mat-label>
                        <mat-error *ngIf="this.descripcion.get('stages')?.invalid">
                            {{ getMessageError(descripcion ,'stages') }}
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
                
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <mat-form-field
                        class="full-width"
                        style="width: 100%;">
                        <input matInput 
                        [min]="0" [max]="40" type="number" 
                        placeholder="{{labels.pmoAssistHours}}" 
                        formControlName="pmoAssistHours" 
                        required >
                        <mat-label>{{labels.pmoAssistHours}}</mat-label>
                        <mat-error *ngIf="this.descripcion.get('pmoAssistHours')?.invalid">
                            {{ getMessageError(descripcion ,'pmoAssistHours') }}
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-sm-12 col-md-6">
                    <mat-form-field
                        class="full-width"
                        style="width: 100%;">
                        <input matInput 
                        [min]="0" [max]="59" type="number" 
                        placeholder="{{labels.pmoAssistMinutes}}" 
                        formControlName="pmoAssistMinutes" 
                        required >
                        <mat-label>{{labels.pmoAssistMinutes}}</mat-label>
                        <mat-error *ngIf="this.descripcion.get('pmoAssistMinutes')?.invalid">
                            {{ getMessageError(descripcion ,'pmoAssistMinutes') }}
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <mat-divider></mat-divider>

            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <h3 class="mat-title txt-accent">Presupuesto</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <mat-form-field
                        class="full-width"
                        style="width: 100%;">
                        <input matInput 
                        (change)="changeBudget()"
                        type="number" 
                        placeholder="{{labels.budgetApproved}}" 
                        formControlName="budgetApproved" 
                        required >
                        <mat-label>{{labels.budgetApproved}}</mat-label>
                        <mat-error *ngIf="this.descripcion.get('budgetApproved')?.invalid">
                            {{ getMessageError(descripcion ,'budgetApproved') }}
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-sm-12 col-md-4">
                    <mat-form-field
                        class="full-width"
                        style="width: 100%;">
                        <input matInput 
                        (change)="changeBudget()"
                            type="number" 
                        placeholder="{{labels.budgetExecuted}}" 
                        formControlName="budgetExecuted" 
                        required >
                        <mat-label>{{labels.budgetExecuted}}</mat-label>
                        <mat-error *ngIf="this.descripcion.get('budgetApproved')?.invalid">
                            {{ getMessageError(descripcion ,'budgetApproved') }}
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-sm-12 col-md-4">
                    <mat-form-field
                        class="full-width"
                        style="width: 100%;">
                        <input matInput 
                        placeholder="labels.balance" 
                        formControlName="balance" 
                        required >
                        <mat-label>{{labels.balance}}</mat-label>
                        <mat-error *ngIf="this.descripcion.get('balance')?.invalid">
                            {{ getMessageError(descripcion ,'balance') }}
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
                
        </form>
        <div class="buttons">
            <button class="button" mat-button color="primary" (click)="onReset(descripcion)">Limpiar</button>
            <button class="button"
            (click)="nextSpecific(stepper, descripcion)"
            mat-button color="primary"
            [disabled]="descripcion.invalid || fButtonDisabled">
                Siguiente
            </button>
        </div>
    </mat-step>

    <mat-step [stepControl]="seguimiento" [editable]="true">
        <form [formGroup]="seguimiento" class="step-scroll" style="width: 100%;">
            <ng-template matStepLabel>Seguimiento</ng-template>
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <h3 class="mat-title txt-accent">Fechas y Estado</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <mat-form-field
                    class="full-width">
                        <mat-label>{{labels.startDate}}</mat-label>
                        <input matInput  [matDatepicker]="pickerInicio" formControlName="startDate">
                        <mat-datepicker-toggle matSuffix [for]="pickerInicio"></mat-datepicker-toggle>
                        <mat-datepicker #pickerInicio></mat-datepicker>
                        <mat-error *ngIf="this.seguimiento.get('startDate')?.invalid">
                            {{ getMessageError(seguimiento ,'startDate') }}
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-sm-12 col-md-4">
                    <mat-form-field
                    class="full-width">
                        <mat-label>{{labels.dueDate}}</mat-label>
                        <input matInput  [matDatepicker]="pickerFin" formControlName="dueDate">
                        <mat-datepicker-toggle matSuffix [for]="pickerFin"></mat-datepicker-toggle>
                        <mat-datepicker #pickerFin></mat-datepicker>
                        <mat-error *ngIf="this.seguimiento.get('dueDate')?.invalid">
                            {{ getMessageError(seguimiento ,'dueDate') }}
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-sm-12 col-md-4">
                    <mat-form-field
                    class="full-width">
                        <mat-label>{{labels.controlDate}}</mat-label>
                        <input matInput  [matDatepicker]="controlPicker" formControlName="controlDate">
                        <mat-datepicker-toggle matSuffix [for]="controlPicker"></mat-datepicker-toggle>
                        <mat-datepicker #controlPicker></mat-datepicker>
                        <mat-error *ngIf="this.seguimiento.get('controlPicker')?.invalid">
                            {{ getMessageError(seguimiento ,'controlPicker') }}
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
                

            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <mat-form-field
                        class="full-width">
                        <mat-select required (openedChange)="_openStates($event)" formControlName="states">
                            <mat-option>-- None --</mat-option>
                            <mat-option *ngFor="let state of states" [value]="state.id" >{{state.title}}</mat-option>
                        </mat-select>
                        <mat-label>{{labels.states}}</mat-label>
                        <mat-error *ngIf="this.seguimiento.get('states')?.invalid">
                            {{ getMessageError(seguimiento ,'states') }}
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-sm-12 col-md-4">
                    <mat-form-field
                        class="full-width">
                        <mat-select required (openedChange)="_openPhases($event)" formControlName="phases">
                            <mat-option>-- None --</mat-option>
                            <mat-option *ngFor="let phase of phases" [value]="phase.id" >{{phase.title}}</mat-option>
                        </mat-select>
                        <mat-label>{{labels.phases}}</mat-label>
                        <mat-error *ngIf="this.seguimiento.get('phases')?.invalid">
                            {{ getMessageError(seguimiento ,'phases') }}
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-sm-12 col-md-4">
                    <mat-form-field
                        class="full-width"
                        style="width: 100%;">
                        <input matInput 
                        type="number" 
                        placeholder="{{labels.sprint}}" 
                        formControlName="sprint" 
                        required >
                        <mat-label>{{labels.sprint}}</mat-label>
                        <mat-error *ngIf="this.seguimiento.get('sprint')?.invalid">
                            {{ getMessageError(seguimiento ,'sprint') }}
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <mat-divider></mat-divider>
            <tecno-text-list class="external-component" name="Hitos" [items]="highlights" (emitChange)="onHighlights($event)"></tecno-text-list>
            <mat-divider></mat-divider>
                
            <tecno-text-list class="external-component" name="Riesgos" [items]="risks" (emitChange)="onRisks($event)"></tecno-text-list>
            <mat-divider></mat-divider>

            <mat-divider></mat-divider>
            <tecno-applications-by-project class="external-component" [applicationsSelected]="applications" (emitChange)="onApplications($event)"></tecno-applications-by-project>
            <mat-divider></mat-divider>

            <tecno-text-list class="external-component" name="KPIs" [items]="kpis"  (emitChange)="onKpis($event)"></tecno-text-list>
            <mat-divider></mat-divider>

            <tecno-areas-by-project class="external-component" (emitChange)="onAreasByProject($event)" [areasSelected]="areasByProject" ></tecno-areas-by-project>
            <mat-divider></mat-divider>

            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <mat-form-field class="field-full" style="width: 100%;">
                        <mat-label>{{labels.evaluation}}</mat-label>
                        <textarea matInput
                            formControlName="evaluation"
                            placeholder="Evaluación de proveedor">
                        </textarea>
                        <mat-error *ngIf="this.seguimiento.get('evaluation')?.invalid">
                            {{ getMessageError(seguimiento ,'evaluation') }}
                        </mat-error>
                    </mat-form-field>
                </div>        
            </div>

            <mat-divider></mat-divider>
            <tecno-companies-by-project class="external-component" (emitChange)="onCompaniesByProject($event)" [companiesSelected]="companies" ></tecno-companies-by-project>
            <mat-divider></mat-divider>

            <tecno-test-users class="external-component" (emitChange)="onTestUsers($event)" [usersSelected]="testUsers" ></tecno-test-users>
            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <mat-form-field
                    class="full-width">
                        <mat-select  
                        formControlName="testLog" 
                        required >
                            <mat-option>-- None --</mat-option>
                            <mat-option [value]="false">No</mat-option>
                            <mat-option [value]="true">Sí</mat-option>
                        </mat-select>
                        <mat-label>{{labels.testLog}}</mat-label>
                        <mat-error *ngIf="this.seguimiento.get('testLog')?.invalid">
                            {{ getMessageError(seguimiento ,'testLog') }}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-12 col-md-8"></div>
            </div>
            <mat-divider></mat-divider>
            
        </form>
        <div class="buttons">
            <button class="button" mat-button color="primary" (click)="onReset(seguimiento)">Limpiar</button>
            <button class="button"
            (click)="data.mode == 'create' ? create() : edit()"
            mat-button color="primary"
            [disabled]="seguimiento.invalid || fButtonDisabled">
                {{ data.mode == 'create' ? 'Crear' : 'Editar'}}
            </button>
        </div>
    </mat-step>

</mat-horizontal-stepper>



      